/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {
	main {
		section {
			width:100%;
		}
	  /* sidebar */
	  aside.sidebar {
      margin:0 2% 2%;
	    .google-maps-widget {
	      a.gmw-thumbnail-map {
	        img {
	          width: 100%;
	          max-width: 320px;
	        }
	      }
	    }
	    &.sidebar-right {
	    	width:96%;
        display: none;
	    }
	  }
	}

  /* header */
  a.logo-img {
    	float:none;
    	width:90%;
    	margin:3% auto;
	}
	.header-img {
    	display: none;
	}

	/* nav */
  .nav {
   	display: none;
  }
	.hotline {
    display: none;
  }

  /* menu-bar */
  .menu-bar {
   	display:block;
  }
 	.hotline-2 {
   	display:none;
  }

  /* footer */
  .footer {
    .footer-left {
      float:none;
      text-align: center;
      margin-right:2%;
      margin-left:2%;
      &:after {
        content:". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
      }
      .copyright {
        margin:0;
      }
    }
    .footer-right {
      float:none;
      text-align:center;
      margin-right:2%;
      margin-left:2%;
      p {
        margin:.5em 0 1.5em;
      }
    }
  }

  /* slidebar */
  .sb-slidebar {
   	/* left */
   	.nav {
     	display: block;
     	background:transparent;
    	ul {
     		li {
       		width:100%;
          ul.sub-menu {
          	visibility: hidden;
          }
          &.menu-item-has-children > a:after {
            display: none;
         	}
          &.current_page_item,&.current-menu-ancestor,&.current-menu-item,&.current-menu-parent {
            & > a {
              border-bottom:1px solid $red;
              line-height: 1.5;
              background:$red;
              color:#fff;
            }
            &:hover > a {
            	border-bottom:1px dotted #333;
             	background:$red;
            }
          }
          &:hover {
            & > a {
             	line-height: 1.5;
             	border-bottom:1px solid $red;
             	background:$red;
             	color:#fff;
            }
          }
          a {
            border-bottom:1px dotted #333;
          }
    		}
			}
      a {
       	padding:20px 15px;
       	line-height: 1.5;
      }
		}	
		/* right */
		aside.sidebar {
  		margin:0;
  		display: block !important;
			.widget_product_categories {
    		background:transparent;
    		padding:15px 0;
    		h3 {
      		color:#eee;
      		padding:0 4% 5px;
      		border-bottom:none;
      		text-align: right;
				}
    		ul.product-categories {
     			padding-left:0%;
      		li {
       			padding:0;
       			margin:0;
       			border-bottom:1px solid #333;
       			a {
       				padding:10px 15px;
        			color:#eee;
         			display:block;
       				width:100%;
       				&:hover {
         				margin-left:0;
         				color:#444 !important;
         				background:#eee;
     					}
        		}
        		&:last-child {
       				border-bottom:none;
       			}
       			&.current-cat,&.current-cat-parent {
         			& > a {
         				border-left:3px solid #fff;
         				background:#ff4040;
       					&:hover {
        					color:#eee;
    	     			}
     					}
         			a {
         				color:#eee;
     					}
      				ul.children {
                margin:0 0 0 0;
		            padding-left:0;
	              li {
	                padding:0;
	                margin:0;
	                border-bottom:1px solid #333;
		              a {
                		color:#eee;
                		padding:10px 15px;
             				margin-left:5%;
             				display:block;
             				width:95%;
           				}
           				&:first-child {
             				border-top:1px solid #333;
              		}
             			ul.children {
                		li {
             					a {
               					width:90%;
               					margin-left:10%;
            					}
            				}
          				}
            		}
          		}
        		}
            &.current-cat {
              & > a {
                color:#eee !important;
              }
            }
            &.current-cat-parent {
              & > a {
              	background:#eee;
                color:#444;
                border-left:3px solid $red;
              }
              ul.children {
                li {
               		&.current-cat-parent {
                    & > a {
                     	background:#eee;
                   		color:#444;
                 			border-left:3px solid $red;
               			}
               		}
              	}
             	}
            }
  				}
    		}
  		}
		}
  }

  /* home */
  .feature {
    width: 100%;
    padding-bottom:20px;
    img {
      width:80%;
      margin:7% 10%;
    }
    h2 {
      text-align: center;
      margin-top: 0;
    }
    p {
      text-align: center;
    }
  }

  /* logo-imprints */
  #logo-imprints-text-box {
    width:100%;
    padding:0;
  }
  #logo-imprints-right {
    width: 100%;
    border:none;
    margin-top:4%;
    padding-left:0;
    .logo-imprints-pair {
      .logo-imprints-item {
        width:50%;
        padding:0 2% 4%;
      }
    }
  }

  /* woocommerce */
  .woocommerce, .woocommerce-page {
    ul.products {
      li.group4 {
        ul.group2 {
          &:first-child {
            width:100% !important;
          }
          &:last-child {
            width:100% !important;
          }
        }
      }
      li.product {
        p {
          span.wc-new-badge {
            top:40% !important;
          }
        }
      }
    }
    .qv-btn {
      display:none !important;
    }
    div.product {
      div.images {
        width:100% !important;
      }
      div.summary {
        width:100% !important;
        padding-top:0 !important;
      }
      .woocommerce-tabs {
        width:100% !important;
      }
    }
    .woocommerce-message, .woocommerce-error, .woocommerce-info {
      margin: 20px 0 10px !important;
    }
    .sidebar {
      display: none;
    }
    table.shop_table {
      td,th {
        &.product-remove {
          padding:4px !important;
        }
        &.product-thumbnail {
          padding:4px !important;
          width: 40px !important;
        }
        &.product-code {
          padding:4px !important;
        }
        &.product-name {
          padding:4px !important;
        }
        &.product-quantity {
          padding:4px !important;
        }
      }
      th {
        text-align: center !important;
      }
      td.actions {
        text-align: center !important;
        input.button {
          margin:5px 0 !important;
          width: 100% !important;
        }
      }
    }
    .checkout {
      .col-1 {
        width:100% !important;
        .woocommerce-billing-fields {
          p.form-row-first {
            width: 100% !important;
          }
          p.form-row-last {
            width:100% !important;
          }
        }
      }
      .col-2 {
        width:100% !important;
        border-top:1px solid #ddd;
        border-bottom:1px solid #ddd;
        padding-bottom:20px;
        margin-top:20px;
      }
      h2#order_review_heading {
        padding-top: 20px!important;
      }
      #order_review {
        .place-order {
          input#place_order {
            width:100%;
          }
        }
      }
    }
    ul.order_details {
      width:100% !important;
    }
  }
  div.pp_woocommerce {
    p.currentTextHolder {
      font-size: 2em !important;
      line-height: 1.5 !important;
    }
  }

  /* 404 */
  article#post-404 {
    text-align: center;
    .fa-stack {
      font-size: 9em;
      width:100%;
      .fa-question {
        margin-top:.2em;
      }
    }
    .text-404 {
      margin:0 auto 1.2em;
      width:100%;
      h1 {
        font-size: 3em;
        margin-top:0;
      }
      h2 {
        font-size: 1.5em;
        margin:.2em 0;
      }
    }
    .fa {
      margin:-3px 0 0 0;
    }
  }
}
@media only screen and (min-width:480px) {
  
	/* menu-bar */
  .hotline-2 {
    display:none;
  }

  /* home */
  .feature {
    img {
      width:47%;
      float:left;
      margin:5% 3% 0 0;
    }
    .desc {
      width: 50%;
      float: right;
    }
    h2 {
      margin-top:5%;
      text-align: left;
    }
    p {
      text-align: left;
    }
  }

  /* logo-imprints */
  #logo-imprints-right {
    .logo-imprints-pair {
      width:50%;
    }
  }

  /* woocommerce */
  .woocommerce, .woocommerce-page {
    ul.products {
      li.group4 {
        ul.group2 {
          &:first-child {
            width:100% !important;
          }
          &:last-child {
            width:100% !important;
          }
        }
      }
      li.product {
        p {
          span.wc-new-badge {
            top:45% !important;
          }
        }
      }
    }
    table.shop_table {
      td,th {
        &.product-remove {
          padding:6px 12px !important;
        }
        &.product-thumbnail {
          padding:6px 12px !important;
          width: 70px !important;
        }
        &.product-code {
          padding:6px 12px !important;
        }
        &.product-name {
          padding:6px 12px !important;
        }
        &.product-quantity {
          padding:6px 12px !important;
        }
      }
      th {
        text-align: left !important;
      }
      td.actions {
        text-align: right !important;
        input.button {
          margin:0 !important;
          width:auto !important;
        }
      }
    }
    .checkout {
      .col-1 {
        .woocommerce-billing-fields {
          p.form-row-first {
            width: 48% !important;
          }
          p.form-row-last {
            width:48% !important;
          }
        }
      }
      #order_review {
        .place-order {
          input#place_order {
            width:auto !important;
          }
        }
      }
    }
    ul.order_details {
      width:auto !important;
    }
  }
}
@media only screen and (min-width:550px) {
  
  /* home */
  .feature {
    img {
      margin:0 3% 0 0;
    }
  }

  /* woocommerce */
  .woocommerce, .woocommerce-page {
  	ul.products {
      li.product {
        p {
          span.wc-new-badge {
            top:50% !important;
          }
        }
      }
    }
    div.product {
      div.images {
        img {
          width:80% !important;
          float:left !important;
        }
        div.thumbnails {
          width:20% !important;
          float:right !important;
          padding-left:2% !important;
          a {
            img {
              width:100% !important;
              margin:3% 0 !important;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width:768px) {
  main {
  	aside.sidebar {
  		width:30%;
  		margin-right: 0;
    	&.sidebar-right {
    		width:30%;
        margin:3% 2% 1.5% 1%;
    	}
  	}
		section {
			width:67%;
		}
	}

  /* header */
  a.logo-img {
    margin:3% 4% 2% 2%;
    float: left;
    width: 54%;
  }
  .header-img {
    display: block;
  }

	/* sidebar */
  .sidebar {
    
  }

  /* nav */
  .nav {
    display: block;
  }

  /* menu-bar */
  .menu-bar {
    display:none;
  }
  .hotline-2 {
    display: none;
  }

  /* home */
  .feature {
    width:33%;
    img {
      float:none;
      width:auto;
      margin-right:0;
      margin-bottom:0;
    }
    .desc {
      width: 100%;
    }
    h2 {
      text-align: center;
      margin-top:7%;
    }
    p {
      text-align: center;
    }
  }

  /* woocommerce */
  .woocommerce, .woocommerce-page {
    ul.products {
      li.product {
        p {
          span.wc-new-badge {
            top:50% !important;
          }
        }
      }
    }
    .qv-btn {
      display:block !important;
    }
    .woocommerce-message, .woocommerce-error, .woocommerce-info {
      margin: 0 0 2em !important;
    }
    .sidebar {
      display: block;
    }
    div.pp_woocommerce {
      p.currentTextHolder {
        font-size: 1em !important;
        line-height: 1.2 !important;
      }
    }
  }

  /* slidebar */
  .close-button {
    display: none;
  }

  /* 404 */
  article#post-404 {
    text-align: left;
    .fa-stack {
      font-size: 15em;
      width:50%;
      .fa-question {
        margin-top:.2em;
      }
    }
    .text-404 {
      margin:11em auto 0;
      width:auto;
      h1 {
        font-size: 4.2em;
        margin-top:.67em;
      }
      h2 {
        font-size: 2em;
        margin:.5em 0;
      }
    }
    .fa {
      margin:-3px 0 0 0;
    }
  }
}

@media only screen and (min-width:992px) {
  
  /* woocommerce */
  .woocommerce, .woocommerce-page {
    div.product {
      div.images {
        width:48% !important;
        img {
          width:100% !important;
          float:none !important;
        }
        div.thumbnails {
          width:100% !important;
          float:none !important;
          padding-left:0 !important;
          a {
            img {
              width:32% !important;
              margin:0 2% 2% 0 !important;
            }
            &:nth-child(3n) img {
              margin-right:0 !important;
            }
          }
        }
      }
      div.summary {
        width:49% !important;
        padding-top:9% !important;
      }
      .woocommerce-tabs {
        width:49% !important;
      }
    }
  }
}
@media only screen and (min-width:1024px) {
	main {
  	aside.sidebar {
  		width:25%;
      &.sidebar-right {
        width: 25%;
      }
  	}
		section {
			width:72%;
		}
	}

	/* header */
  a.logo-img {
    margin:2% 4% 2% 2%;
  }

  /* nav */
  .hotline {
    display: inline-block;
  }

  /* footer */
  .footer {
    .footer-left {
      float:left;
      text-align: left;
      &:after {
        display:none;
      }
      .copyright {
        margin:0 0 1.5em 0;
      }
    }
    .footer-right {
      float:right;
      text-align: right;
      margin-left: 0;
      p {
        margin:1.5em 0;
      }
    }
  }

  /* woocommerce */
  .woocommerce, .woocommerce-page {
    ul.products {
      li.group4 {
        ul.group2 {
          &:first-child {
            width:50% !important;
          }
          &:last-child {
            width:50% !important;
          }
        }
      }
    }
    .checkout {
      .col-1 {
        width:48% !important;
      }
      .col-2 {
        width:48% !important;
        border-top:none;
        border-bottom:none;
        padding-bottom:0;
        margin-top:0;
      }
      h2#order_review_heading {
        padding-top:40px !important;
      }
    }
  }

  /* home */
  .feature {
    p {
      text-align: center;
    }
  }

  /* logo-imprints */
  #logo-imprints-text-box {
    width:36%;
    padding:3% 2% 3% 0;
  }
  #logo-imprints-right {
    width: 64%;
    border-left:1px solid #ccc;
    margin-top:0;
  }
}
@media only screen and (min-width:1060px) {
  .feature {
    p {
      text-align: center;
    }
  }
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
     only screen and (min-resolution:144dpi) {

}