/**
 * Objects
 */
/*------------------------------------*\
    MAIN
\*------------------------------------*/
/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%;
  height: 100%;
}

html.sb-scroll-lock.sb-active:not(.sb-static) {
  overflow: hidden;
  /* Prevent site from scrolling when a Slidebar is open, except when static Slidebars are only available. */
}

body {
  font: 400 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444;
  position: relative;
  min-width: 320px;
}

/* clear */
.clear:before,
.clear:after {
  content: ' ';
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #444;
}

a:focus {
  outline: 0;
}

a:hover,
a:active {
  outline: 0;
}

input:focus {
  outline: 0;
  border: 1px solid #04A4CC;
}

h1 {
  font-size: 3.3em;
  font-weight: 300;
  line-height: 1.2;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.3em;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/
/* header */
.header {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 2;
}

/* wrapper */
.wrapper {
  float: left;
  width: 100%;
  position: relative;
  z-index: 1;
}

/* logo */
.logo-wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

a.logo-img {
  display: block;
  text-align: center;
  float: none;
  width: 90%;
  margin: 3% auto;
}

.header-img {
  display: none;
  width: 38%;
  max-width: 409px;
  float: right;
  margin: .5% 2% .5% 0;
}

/* Top Banner widget */
.brochure-link-widget {
  position: absolute;
  background: #ff4040;
  padding: 5px 14px;
  border-radius: 30px;
  margin: 35px 0 0 710px;
}

.brochure-link-widget a {
  color: #fff;
  font-size: 1.7em;
  font-weight: bold;
}

.brochure-link-widget:hover {
  background: #fff;
  border: 3px solid #ff4040;
  padding: 2px 11px;
}

.brochure-link-widget:hover a {
  color: #ff4040;
}

.menu-bar {
  background: #ff4040;
  width: 100%;
  height: 42px;
  z-index: 4;
  display: block;
}

.menu-bar .menu-button {
  float: left;
  font-size: 2.3em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  padding: 9px 14px 8px 14px;
  cursor: pointer;
}

.menu-bar .menu-button .fa-navicon {
  margin-right: 10px;
}

.menu-bar .products-button {
  float: right;
  font-size: 2.3em;
  font-weight: 700;
  line-height: 1;
  color: #ff4040;
  background: #fff;
  padding: 9px 14px 8px 14px;
  cursor: pointer;
}

.menu-bar .products-button .fa-list-ul {
  margin-left: 10px;
  margin-right: 0;
}

.hotline {
  display: none;
  position: relative;
  width: auto;
  float: right;
  background: #fff;
  padding: 0 15px 1px;
  color: #ff4040;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  line-height: 1.9;
}

.hotline-2 {
  display: none;
  position: relative;
  width: auto;
  float: right;
  background: #fff;
  padding: 0 15px 1px;
  color: #ff4040;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  line-height: 1.9;
}

/* nav */
.nav-wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.nav-wrapper .close-button {
  margin: 14px 0;
  padding: 3px 14px 5px;
  font-size: 1.5em;
  font-weight: 500;
  text-align: right;
  color: #eee;
  background: transparent;
  line-height: 33px;
  cursor: pointer;
}

.nav-wrapper .close-button .fa-times {
  margin-right: 0;
}

.nav {
  position: relative;
  display: none;
  float: left;
  margin: 0;
  width: 100%;
  height: 42px;
  background-color: #ff4040;
  z-index: 3;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul ul {
  display: none;
  position: absolute;
  top: 42px;
  left: 0;
  float: left;
  width: 200px;
  z-index: 99999;
}

.nav ul ul a {
  background: #eee;
  line-height: 1em;
  padding: 10px;
  width: 200px;
  height: auto;
  color: #444;
}

.nav ul ul a:hover {
  background: #ff4040;
  color: #fff;
}

.nav ul li {
  float: left;
  position: relative;
}

.nav ul li ul.sub-menu {
  border-left: 3px solid #ff4040;
  box-shadow: 0 2px 3px -1px #999;
}

.nav ul li ul.sub-menu li a {
  border-bottom: none !important;
  line-height: 1 !important;
}

.nav ul li ul.sub-menu li.menu-item-has-children > a:after {
  content: "\f054";
  font-family: FontAwesome;
  font-size: .8em;
  line-height: 1.5;
  position: absolute;
  right: 10px;
}

.nav ul li ul.sub-menu li.menu-item-has-children:hover > a:after {
  content: "\f138";
  font-size: 1em;
  line-height: 1;
}

.nav ul li ul.sub-menu ul.sub-menu {
  margin-left: 200px;
  top: 10px;
}

.nav ul li:hover {
  background: #ff4040;
}

.nav ul li:hover > ul {
  display: block;
}

.nav ul li.current_page_item, .nav ul li.current-menu-ancestor, .nav ul li.current-menu-item, .nav ul li.current-menu-parent {
  background: #f5f5f5;
  height: 100%;
}

.nav ul li.current_page_item > a, .nav ul li.current-menu-ancestor > a, .nav ul li.current-menu-item > a, .nav ul li.current-menu-parent > a {
  color: #444;
  border-bottom: 2px solid #444;
  line-height: 40px;
}

.nav ul li.current_page_item:hover > a, .nav ul li.current-menu-ancestor:hover > a, .nav ul li.current-menu-item:hover > a, .nav ul li.current-menu-parent:hover > a {
  background: #f5f5f5;
}

.nav ul li.menu-item-has-children > a:after {
  content: "\f13a";
  font-family: FontAwesome;
  margin-left: 8px;
}

.nav ul > li:hover > a {
  border-bottom: 2px solid #444;
  line-height: 40px;
}

.nav a {
  color: #fff;
  display: block;
  line-height: 42px;
  padding: 0 15px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3em;
}

.nav li:hover > a,
.nav ul ul:hover > a {
  color: #444;
  background: #f5f5f5;
}

/* footer */
.footer {
  background: #222;
  border-top: 8px solid #ff4040;
  color: #fff;
  width: 100%;
  position: relative;
  display: inline-block;
  bottom: -3px;
  font-size: 1.1em;
  line-height: 1.7em;
}

.footer > div {
  max-width: 1280px;
  margin: 0 auto;
}

.footer .footer-left {
  float: none;
  text-align: center;
}

.footer .footer-left:after {
  content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}

.footer .footer-left ul {
  margin: 1.5em 0 0 0;
  padding: 0;
}

.footer .footer-left ul.menu li {
  display: inline-block;
  margin: 0 10px 0 0;
}

.footer .footer-left ul.menu li.current_page_item a:before {
  content: "-";
  padding-right: 2px;
}

.footer .footer-left ul.menu li.current_page_item a:after {
  content: "-";
  padding-left: 2px;
}

.footer .footer-left .copyright {
  margin: 0;
  font-size: 1.1em;
}

.footer .footer-right {
  float: none;
  text-align: center;
}

.footer .footer-right p {
  font-size: 1.1em;
  margin: .5em 0 1.5em;
}

.footer a {
  font-weight: 700;
  color: #fff;
}

.footer a:hover, .footer a:active, .footer a:focus {
  color: #ff4040;
}

#wpstats {
  display: none;
}

/*------------------------------------*\
    PAGES
\*------------------------------------*/
main {
  display: block;
  float: left;
  width: 100%;
}

main aside.sidebar {
  /* sidebar */
  float: left;
  width: 30%;
  margin: 0 0 2% 0;
}

main section {
  width: 66%;
  float: left;
  padding: 0 2% 2%;
  display: block;
}

main.nosidebar section {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  float: none;
  padding: 0 2%;
}

main.noheader section {
  padding: 2%;
}

main .woocommerce section,
.woocommerce-page main section {
  padding: 1% 2%;
}

/* slidebar */
.sb-slidebar {
  /* left */
  /* right */
}

.sb-slidebar .nav {
  display: block;
  background: transparent;
}

.sb-slidebar .nav ul li {
  width: 100%;
}

.sb-slidebar .nav ul li ul.sub-menu {
  visibility: hidden;
}

.sb-slidebar .nav ul li.menu-item-has-children > a:after {
  display: none;
}

.sb-slidebar .nav ul li.current_page_item > a, .sb-slidebar .nav ul li.current-menu-ancestor > a, .sb-slidebar .nav ul li.current-menu-item > a, .sb-slidebar .nav ul li.current-menu-parent > a {
  border-bottom: 1px solid #ff4040;
  line-height: 1.5;
  background: #ff4040;
  color: #fff;
}

.sb-slidebar .nav ul li.current_page_item:hover > a, .sb-slidebar .nav ul li.current-menu-ancestor:hover > a, .sb-slidebar .nav ul li.current-menu-item:hover > a, .sb-slidebar .nav ul li.current-menu-parent:hover > a {
  border-bottom: 1px dotted #333;
  background: #ff4040;
}

.sb-slidebar .nav ul li:hover > a {
  line-height: 1.5;
  border-bottom: 1px solid #ff4040;
  background: #ff4040;
  color: #fff;
}

.sb-slidebar .nav ul li a {
  border-bottom: 1px dotted #333;
}

.sb-slidebar .nav a {
  padding: 20px 15px;
  line-height: 1.5;
}

.sb-slidebar aside.sidebar {
  margin: 0;
  display: block !important;
}

.sb-slidebar aside.sidebar .widget_product_categories {
  background: transparent;
  padding: 15px 0;
}

.sb-slidebar aside.sidebar .widget_product_categories h3 {
  color: #eee;
  padding: 0 4% 5px;
  border-bottom: none;
  text-align: right;
}

.sb-slidebar aside.sidebar .widget_product_categories ul.product-categories {
  padding-left: 0%;
}

.sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #333;
}

.sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li a {
  padding: 10px 15px;
  color: #eee;
  display: block;
  width: 100%;
}

.sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li a:hover {
  margin-left: 0;
  color: #444 !important;
  background: #eee;
}

.sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li:last-child {
  border-bottom: none;
}

.sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat > a, .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat-parent > a {
  border-left: 3px solid #fff;
  background: #ff4040;
}

.sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat > a:hover, .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat-parent > a:hover {
  color: #eee;
}

.sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat a, .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat-parent a {
  color: #eee;
}

.sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat ul.children, .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat-parent ul.children {
  margin: 0 0 0 0;
  padding-left: 0;
}

.sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat ul.children li, .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat-parent ul.children li {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #333;
}

.sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat ul.children li a, .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat-parent ul.children li a {
  color: #eee;
  padding: 10px 15px;
  margin-left: 5%;
  display: block;
  width: 95%;
}

.sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat ul.children li:first-child, .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat-parent ul.children li:first-child {
  border-top: 1px solid #333;
}

.sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat ul.children li ul.children li a, .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat-parent ul.children li ul.children li a {
  width: 90%;
  margin-left: 10%;
}

.sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat > a {
  color: #eee !important;
}

.sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat-parent > a {
  background: #eee;
  color: #444;
  border-left: 3px solid #ff4040;
}

.sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat-parent ul.children li.current-cat-parent > a {
  background: #eee;
  color: #444;
  border-left: 3px solid #ff4040;
}

.home section {
  padding: 0 !important;
}

main .homeslider-wrapper {
  position: relative;
  margin: 0;
}

main .homeslider-wrapper:hover .slides_nav,
main .homeslider-wrapper:active .slides_nav,
main .homeslider-wrapper:focus .slides_nav {
  opacity: .7;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

main .homeslider-wrapper ul.homeslider {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

main .homeslider-wrapper ul.homeslider li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

main .homeslider-wrapper ul.homeslider li:first-child {
  position: relative;
  display: block;
  float: left;
}

main .homeslider-wrapper ul.homeslider li h1 {
  text-align: right;
  padding: 1% 2%;
  width: auto;
  bottom: 0;
  right: 9%;
  left: auto;
  font-size: 2.5em;
  font-weight: 700;
  position: absolute;
  background: #222;
  color: #FFF;
  opacity: .9;
  margin: 0;
  text-shadow: 1px 2px 0px #000;
}

main .homeslider-wrapper ul.homeslider li img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

main .homeslider-wrapper a.slides_nav {
  z-index: 2;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 40%;
  left: 0;
  opacity: 0;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  width: 35px;
  height: 70px;
  background: url("https://dev.crystalight.com.sg/wp-content/themes/Crystalight/img/arrows.png") no-repeat right top;
  background: url("https://dev.crystalight.com.sg/wp-content/themes/Crystalight/img/arrows.svg") no-repeat right top;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

main .homeslider-wrapper a.slides_nav.next {
  left: auto;
  right: 0;
  background: url("https://dev.crystalight.com.sg/wp-content/themes/Crystalight/img/arrows.png") no-repeat right top;
  background: url("https://dev.crystalight.com.sg/wp-content/themes/Crystalight/img/arrows.svg") no-repeat left top;
}

main .homeslider-wrapper ul.slides_tabs {
  width: 100%;
  padding: 0;
  text-align: center;
}

main .homeslider-wrapper ul.slides_tabs li {
  display: inline-block;
  list-style: none;
  text-indent: -9999px;
  background: url("https://dev.crystalight.com.sg/wp-content/themes/Crystalight/img/bullets.png") no-repeat;
  background: url("https://dev.crystalight.com.sg/wp-content/themes/Crystalight/img/bullets.svg") no-repeat;
  background-position: center 3px;
  width: 26px;
  height: 20px;
}

main .homeslider-wrapper ul.slides_tabs li.slides_here {
  background-position: center -20px;
}

@media only screen and (min-width: 320px) {
  main .homeslider-wrapper a.slides_nav {
    display: none;
  }
  main .homeslider-wrapper ul.homeslider li h1 {
    width: 100%;
    right: 0;
    font-size: 1.2em;
    text-align: center;
    padding: 2%;
  }
}

@media only screen and (min-width: 480px) {
  main .homeslider-wrapper ul.homeslider li h1 {
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 768px) {
  main .homeslider-wrapper a.slides_nav {
    display: block;
  }
  main .homeslider-wrapper ul.homeslider li h1 {
    width: auto;
    right: 9%;
    font-size: 2.5em;
    text-align: right;
    padding: 1% 2%;
  }
}

.feature {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 15px 15px 20px;
  vertical-align: top;
}

.feature img {
  width: 80%;
  margin: 7% 10%;
}

.feature h2 {
  text-align: center;
  line-height: 1;
  margin-top: 0;
}

.feature p {
  text-align: center;
}

.google-maps-widget {
  margin: 0;
}

.google-maps-widget h3 {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
}

.google-maps-widget p:nth-child(3) {
  text-align: center;
}

.google-maps-widget p:nth-child(4) {
  text-align: center;
}

.google-maps-widget img {
  width: 100%;
  max-width: 320px;
  border-radius: 10px;
  border: 2px solid #ccc;
  box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-transition: all 0.3s ease ease-in-out 0.2s;
  -moz-transition: all 0.3s ease ease-in-out 0.2s;
  -o-transition: all 0.3s ease ease-in-out 0.2s;
  transition: all 0.3s ease ease-in-out 0.2s;
}

.google-maps-widget img:hover, .google-maps-widget img:active, .google-maps-widget img:focus {
  box-shadow: 0 0 5px #aaa;
  -webkit-box-shadow: 0 0 5px #aaa;
  -webkit-transition: all 0.3s ease ease-in-out 0.2s;
  -moz-transition: all 0.3s ease ease-in-out 0.2s;
  -o-transition: all 0.3s ease ease-in-out 0.2s;
  transition: all 0.3s ease ease-in-out 0.2s;
}

#contact-details {
  font-size: 1.3em;
  margin: 15px 2%;
}

#contact-details img {
  vertical-align: middle;
}

#contact-details p {
  font-size: 1em;
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}

#contact-details .fa {
  display: inline-block;
  width: 40px;
  float: left;
  margin: -3px 0 0 0;
}

#contact-details span {
  line-height: 20px;
  display: inline-block;
  width: 85%;
  float: left;
  margin: 0;
}

#logo-imprints-text-box {
  float: left;
  width: 100%;
  padding: 0;
}

#logo-imprints-text-box h1 {
  font-size: 3em;
  line-height: 1.2em;
}

#logo-imprints-text-box p {
  line-height: 2em;
}

#logo-imprints-right {
  float: left;
  width: 100%;
  border: none;
  margin-top: 4%;
  padding-left: 0;
}

.logo-imprints-pair {
  float: left;
  width: 100%;
}

.logo-imprints-item {
  float: left;
  width: 50%;
  text-align: center;
  padding: 0 2% 4%;
  line-height: 1.5;
}

.disclaimertext {
  border: 1px solid #E5E5E5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 12px 0;
  padding: 10px 15px;
  position: relative;
  line-height: 2.3em;
}

.disclaimertext > strong:first-child {
  background: #FFF;
  left: 20px;
  padding: 0 5px;
  position: absolute;
  top: -15px;
  font-size: 1.5em;
}

.infobox {
  border: 1px solid #E5E5E5;
  border-top: 1px solid #ff4040;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 25px 0 12px;
  padding: 10px 15px;
  position: relative;
  line-height: 2em;
}

.infobox > strong:first-child {
  background: #FFF;
  left: 20px;
  padding: 0 5px;
  position: absolute;
  top: -12px;
  font-size: 1.5em;
}

.infobox ul {
  margin: 5px 0 0 0;
  padding-left: 30px;
  font-size: 1.2em;
}

/* 404 */
article#post-404 {
  max-width: 768px;
  margin: 0 auto;
}

article#post-404 .fa-stack {
  font-size: 15em;
  margin: .45em auto .4em;
  float: left;
  width: 50%;
}

article#post-404 .fa-stack .fa-question {
  margin-top: .2em;
}

article#post-404 .text-404 {
  margin-top: 11em;
  float: left;
}

article#post-404 .text-404 h1 {
  font-size: 4.2em;
}

article#post-404 .text-404 a:hover {
  color: #ff4040;
}

/*------------------------------------*\
    WOOCOMMERCE
\*------------------------------------*/
.woocommerce ul.products li.group4 ul.group2:first-child,
.woocommerce-page ul.products li.group4 ul.group2:first-child {
  width: 100% !important;
}

.woocommerce ul.products li.group4 ul.group2:last-child,
.woocommerce-page ul.products li.group4 ul.group2:last-child {
  width: 100% !important;
}

.woocommerce ul.products li.product p span.wc-new-badge,
.woocommerce-page ul.products li.product p span.wc-new-badge {
  top: 40% !important;
}

.woocommerce .qv-btn,
.woocommerce-page .qv-btn {
  display: none !important;
}

.woocommerce div.product div.images,
.woocommerce-page div.product div.images {
  width: 100% !important;
}

.woocommerce div.product div.summary,
.woocommerce-page div.product div.summary {
  width: 100% !important;
  padding-top: 0 !important;
}

.woocommerce div.product .woocommerce-tabs,
.woocommerce-page div.product .woocommerce-tabs {
  width: 100% !important;
}

.woocommerce div.product span.price,
.woocommerce-page div.product span.price {
  display: none;
}

.woocommerce .woocommerce-message,
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce-page .woocommerce-message,
.woocommerce-page .woocommerce-error,
.woocommerce-page .woocommerce-info {
  margin: 20px 0 10px !important;
}

.woocommerce .sidebar,
.woocommerce-page .sidebar {
  display: none;
}

.woocommerce table.shop_table td.product-remove,
.woocommerce table.shop_table th.product-remove,
.woocommerce-page table.shop_table td.product-remove,
.woocommerce-page table.shop_table th.product-remove {
  padding: 4px !important;
}

.woocommerce table.shop_table td.product-thumbnail,
.woocommerce table.shop_table th.product-thumbnail,
.woocommerce-page table.shop_table td.product-thumbnail,
.woocommerce-page table.shop_table th.product-thumbnail {
  padding: 4px !important;
  width: 40px !important;
}

.woocommerce table.shop_table td.product-code,
.woocommerce table.shop_table th.product-code,
.woocommerce-page table.shop_table td.product-code,
.woocommerce-page table.shop_table th.product-code {
  padding: 4px !important;
}

.woocommerce table.shop_table td.product-name,
.woocommerce table.shop_table th.product-name,
.woocommerce-page table.shop_table td.product-name,
.woocommerce-page table.shop_table th.product-name {
  padding: 4px !important;
}

.woocommerce table.shop_table td.product-quantity,
.woocommerce table.shop_table th.product-quantity,
.woocommerce-page table.shop_table td.product-quantity,
.woocommerce-page table.shop_table th.product-quantity {
  padding: 4px !important;
}

.woocommerce table.shop_table th,
.woocommerce-page table.shop_table th {
  text-align: center !important;
}

.woocommerce table.shop_table td.actions,
.woocommerce-page table.shop_table td.actions {
  text-align: center !important;
}

.woocommerce table.shop_table td.actions input.button,
.woocommerce-page table.shop_table td.actions input.button {
  margin: 5px 0 !important;
  width: 100% !important;
}

.woocommerce .checkout .col-1,
.woocommerce-page .checkout .col-1 {
  width: 100% !important;
}

.woocommerce .checkout .col-1 .woocommerce-billing-fields p.form-row-first,
.woocommerce-page .checkout .col-1 .woocommerce-billing-fields p.form-row-first {
  width: 100% !important;
}

.woocommerce .checkout .col-1 .woocommerce-billing-fields p.form-row-last,
.woocommerce-page .checkout .col-1 .woocommerce-billing-fields p.form-row-last {
  width: 100% !important;
}

.woocommerce .checkout .col-2,
.woocommerce-page .checkout .col-2 {
  width: 100% !important;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-top: 20px;
}

.woocommerce .checkout h2#order_review_heading,
.woocommerce-page .checkout h2#order_review_heading {
  padding-top: 20px !important;
}

.woocommerce .checkout #order_review .place-order input#place_order,
.woocommerce-page .checkout #order_review .place-order input#place_order {
  width: 100%;
}

.woocommerce ul.order_details,
.woocommerce-page ul.order_details {
  width: 100% !important;
}

div.pp_woocommerce p.currentTextHolder {
  font-size: 2em !important;
  line-height: 1.5 !important;
}

.widget_product_categories {
  background: #e5e5e5;
  padding: 15px 5%;
}

.widget_product_categories h3 {
  font-size: 2.4em;
  color: #777;
  border-bottom: 2px groove #fff;
  margin: 0;
  padding: 0 0 5px;
}

.widget_product_categories ul.product-categories {
  padding-left: 0;
  margin-bottom: 5px;
}

.widget_product_categories ul.product-categories li {
  list-style: none;
  padding: 5px 0 0;
  margin-top: 5px;
}

.widget_product_categories ul.product-categories li a {
  font-size: 1.3em;
  font-weight: bold;
  border-left: 3px solid #fff;
  padding: 3px 5px;
  color: #777;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.widget_product_categories ul.product-categories li a:hover {
  margin-left: 10px;
  border-left: 3px solid #ff4040;
  color: #444;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.widget_product_categories ul.product-categories li.current-cat a, .widget_product_categories ul.product-categories li.current-cat-parent a {
  border-left: 3px solid #ff4040;
  color: #444;
}

.widget_product_categories ul.product-categories li.current-cat ul.children, .widget_product_categories ul.product-categories li.current-cat-parent ul.children {
  margin: 10px 0 0;
  padding-left: 10px;
}

.widget_product_categories ul.product-categories li.current-cat ul.children li, .widget_product_categories ul.product-categories li.current-cat-parent ul.children li {
  padding: 4px 0 7px;
  margin: 3px 0 0;
  border-bottom: 1px solid #f5f5f5;
}

.widget_product_categories ul.product-categories li.current-cat ul.children li a, .widget_product_categories ul.product-categories li.current-cat-parent ul.children li a {
  color: #777;
  border-left: 3px solid #fff;
  padding: 3px 5px;
  margin-left: 10px;
}

.widget_product_categories ul.product-categories li.current-cat ul.children li a:hover, .widget_product_categories ul.product-categories li.current-cat ul.children li a:active, .widget_product_categories ul.product-categories li.current-cat ul.children li a:focus, .widget_product_categories ul.product-categories li.current-cat-parent ul.children li a:hover, .widget_product_categories ul.product-categories li.current-cat-parent ul.children li a:active, .widget_product_categories ul.product-categories li.current-cat-parent ul.children li a:focus {
  margin-left: 20px;
  border-left: 3px solid #ff4040;
  color: #444;
}

.widget_product_categories ul.product-categories li.current-cat ul.children li.current-cat a, .widget_product_categories ul.product-categories li.current-cat ul.children li.current-cat-parent a, .widget_product_categories ul.product-categories li.current-cat-parent ul.children li.current-cat a, .widget_product_categories ul.product-categories li.current-cat-parent ul.children li.current-cat-parent a {
  border-left: 3px solid #ff4040;
  color: #444;
}

.widget_product_categories ul.product-categories li.current-cat ul.children li.current-cat ul.children li, .widget_product_categories ul.product-categories li.current-cat ul.children li.current-cat-parent ul.children li, .widget_product_categories ul.product-categories li.current-cat-parent ul.children li.current-cat ul.children li, .widget_product_categories ul.product-categories li.current-cat-parent ul.children li.current-cat-parent ul.children li {
  margin: 3px 0 0 10px;
}

.widget_product_categories ul.product-categories li.current-cat ul.children li.current-cat ul.children li a:hover, .widget_product_categories ul.product-categories li.current-cat ul.children li.current-cat ul.children li a:active, .widget_product_categories ul.product-categories li.current-cat ul.children li.current-cat ul.children li a:focus, .widget_product_categories ul.product-categories li.current-cat ul.children li.current-cat-parent ul.children li a:hover, .widget_product_categories ul.product-categories li.current-cat ul.children li.current-cat-parent ul.children li a:active, .widget_product_categories ul.product-categories li.current-cat ul.children li.current-cat-parent ul.children li a:focus, .widget_product_categories ul.product-categories li.current-cat-parent ul.children li.current-cat ul.children li a:hover, .widget_product_categories ul.product-categories li.current-cat-parent ul.children li.current-cat ul.children li a:active, .widget_product_categories ul.product-categories li.current-cat-parent ul.children li.current-cat ul.children li a:focus, .widget_product_categories ul.product-categories li.current-cat-parent ul.children li.current-cat-parent ul.children li a:hover, .widget_product_categories ul.product-categories li.current-cat-parent ul.children li.current-cat-parent ul.children li a:active, .widget_product_categories ul.product-categories li.current-cat-parent ul.children li.current-cat-parent ul.children li a:focus {
  margin-left: 20px;
  border-left: 3px solid #ff4040;
  color: #444;
}

.widget_product_categories ul.product-categories li.current-cat ul.children li.current-cat ul.children li a, .widget_product_categories ul.product-categories li.current-cat-parent ul.children li.current-cat ul.children li a {
  border-left: 3px solid #ff4040;
}

.widget_product_categories ul.product-categories li.current-cat ul.children li.current-cat-parent ul.children li a, .widget_product_categories ul.product-categories li.current-cat-parent ul.children li.current-cat-parent ul.children li a {
  border-left: 3px solid #fff;
}

.widget_product_categories ul.product-categories li.current-cat ul.children li.current-cat-parent ul.children li.current-cat a, .widget_product_categories ul.product-categories li.current-cat-parent ul.children li.current-cat-parent ul.children li.current-cat a {
  border-left: 3px solid #ff4040;
}

.widget_product_categories ul.product-categories li.current-cat ul.children li:last-child, .widget_product_categories ul.product-categories li.current-cat-parent ul.children li:last-child {
  border-bottom: none;
}

/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/
/* Buttons */
.btn-grey {
  font-size: 1.1em;
  padding: 5px 15px;
  border-radius: 50px;
  background: #fff;
  display: inline-block;
  border: 2px solid #444;
  color: #444;
  font-weight: 700;
}

.btn-grey:hover, .btn-grey:focus {
  background: #444;
  color: #fff;
}

.btn-grey:active {
  background: #555;
}

/* Text styles */
.label-grey {
  background-color: #999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #FFF;
  font-size: 11px;
  font-weight: bold;
  line-height: 14px;
  padding: 1px 4px 2px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  vertical-align: baseline;
  white-space: nowrap;
}

.notice-blue {
  color: #3A87AD;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  background: #D9EDF7;
  border: 1px solid #BCE8F1;
  border-radius: 4px;
  font-size: 1.4em;
  margin: 14px 0px 18px;
  outline: #3A87AD none 0px;
  padding: 8px 35px 8px 14px;
}

/* Font Awesome Icons */
.fa {
  margin: -3px 15px 0 0;
  vertical-align: middle;
}

/*------------------------------------*\
    MISC
\*------------------------------------*/
::selection {
  background: #ccc;
  color: #222;
  text-shadow: none;
}

::-webkit-selection {
  background: #ccc;
  color: #222;
  text-shadow: none;
}

::-moz-selection {
  background: #ccc;
  color: #222;
  text-shadow: none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
@media only screen and (min-width: 320px) {
  main {
    /* sidebar */
  }
  main section {
    width: 100%;
  }
  main aside.sidebar {
    margin: 0 2% 2%;
  }
  main aside.sidebar .google-maps-widget a.gmw-thumbnail-map img {
    width: 100%;
    max-width: 320px;
  }
  main aside.sidebar.sidebar-right {
    width: 96%;
    display: none;
  }
  /* header */
  a.logo-img {
    float: none;
    width: 90%;
    margin: 3% auto;
  }
  .header-img {
    display: none;
  }
  /* nav */
  .nav {
    display: none;
  }
  .hotline {
    display: none;
  }
  /* menu-bar */
  .menu-bar {
    display: block;
  }
  .hotline-2 {
    display: none;
  }
  /* footer */
  .footer .footer-left {
    float: none;
    text-align: center;
    margin-right: 2%;
    margin-left: 2%;
  }
  .footer .footer-left:after {
    content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
  }
  .footer .footer-left .copyright {
    margin: 0;
  }
  .footer .footer-right {
    float: none;
    text-align: center;
    margin-right: 2%;
    margin-left: 2%;
  }
  .footer .footer-right p {
    margin: .5em 0 1.5em;
  }
  /* slidebar */
  .sb-slidebar {
    /* left */
    /* right */
  }
  .sb-slidebar .nav {
    display: block;
    background: transparent;
  }
  .sb-slidebar .nav ul li {
    width: 100%;
  }
  .sb-slidebar .nav ul li ul.sub-menu {
    visibility: hidden;
  }
  .sb-slidebar .nav ul li.menu-item-has-children > a:after {
    display: none;
  }
  .sb-slidebar .nav ul li.current_page_item > a, .sb-slidebar .nav ul li.current-menu-ancestor > a, .sb-slidebar .nav ul li.current-menu-item > a, .sb-slidebar .nav ul li.current-menu-parent > a {
    border-bottom: 1px solid #ff4040;
    line-height: 1.5;
    background: #ff4040;
    color: #fff;
  }
  .sb-slidebar .nav ul li.current_page_item:hover > a, .sb-slidebar .nav ul li.current-menu-ancestor:hover > a, .sb-slidebar .nav ul li.current-menu-item:hover > a, .sb-slidebar .nav ul li.current-menu-parent:hover > a {
    border-bottom: 1px dotted #333;
    background: #ff4040;
  }
  .sb-slidebar .nav ul li:hover > a {
    line-height: 1.5;
    border-bottom: 1px solid #ff4040;
    background: #ff4040;
    color: #fff;
  }
  .sb-slidebar .nav ul li a {
    border-bottom: 1px dotted #333;
  }
  .sb-slidebar .nav a {
    padding: 20px 15px;
    line-height: 1.5;
  }
  .sb-slidebar aside.sidebar {
    margin: 0;
    display: block !important;
  }
  .sb-slidebar aside.sidebar .widget_product_categories {
    background: transparent;
    padding: 15px 0;
  }
  .sb-slidebar aside.sidebar .widget_product_categories h3 {
    color: #eee;
    padding: 0 4% 5px;
    border-bottom: none;
    text-align: right;
  }
  .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories {
    padding-left: 0%;
  }
  .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #333;
  }
  .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li a {
    padding: 10px 15px;
    color: #eee;
    display: block;
    width: 100%;
  }
  .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li a:hover {
    margin-left: 0;
    color: #444 !important;
    background: #eee;
  }
  .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li:last-child {
    border-bottom: none;
  }
  .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat > a, .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat-parent > a {
    border-left: 3px solid #fff;
    background: #ff4040;
  }
  .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat > a:hover, .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat-parent > a:hover {
    color: #eee;
  }
  .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat a, .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat-parent a {
    color: #eee;
  }
  .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat ul.children, .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat-parent ul.children {
    margin: 0 0 0 0;
    padding-left: 0;
  }
  .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat ul.children li, .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat-parent ul.children li {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #333;
  }
  .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat ul.children li a, .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat-parent ul.children li a {
    color: #eee;
    padding: 10px 15px;
    margin-left: 5%;
    display: block;
    width: 95%;
  }
  .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat ul.children li:first-child, .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat-parent ul.children li:first-child {
    border-top: 1px solid #333;
  }
  .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat ul.children li ul.children li a, .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat-parent ul.children li ul.children li a {
    width: 90%;
    margin-left: 10%;
  }
  .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat > a {
    color: #eee !important;
  }
  .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat-parent > a {
    background: #eee;
    color: #444;
    border-left: 3px solid #ff4040;
  }
  .sb-slidebar aside.sidebar .widget_product_categories ul.product-categories li.current-cat-parent ul.children li.current-cat-parent > a {
    background: #eee;
    color: #444;
    border-left: 3px solid #ff4040;
  }
  /* home */
  .feature {
    width: 100%;
    padding-bottom: 20px;
  }
  .feature img {
    width: 80%;
    margin: 7% 10%;
  }
  .feature h2 {
    text-align: center;
    margin-top: 0;
  }
  .feature p {
    text-align: center;
  }
  /* logo-imprints */
  #logo-imprints-text-box {
    width: 100%;
    padding: 0;
  }
  #logo-imprints-right {
    width: 100%;
    border: none;
    margin-top: 4%;
    padding-left: 0;
  }
  #logo-imprints-right .logo-imprints-pair .logo-imprints-item {
    width: 50%;
    padding: 0 2% 4%;
  }
  /* woocommerce */
  .woocommerce ul.products li.group4 ul.group2:first-child, .woocommerce-page ul.products li.group4 ul.group2:first-child {
    width: 100% !important;
  }
  .woocommerce ul.products li.group4 ul.group2:last-child, .woocommerce-page ul.products li.group4 ul.group2:last-child {
    width: 100% !important;
  }
  .woocommerce ul.products li.product p span.wc-new-badge, .woocommerce-page ul.products li.product p span.wc-new-badge {
    top: 40% !important;
  }
  .woocommerce .qv-btn, .woocommerce-page .qv-btn {
    display: none !important;
  }
  .woocommerce div.product div.images, .woocommerce-page div.product div.images {
    width: 100% !important;
  }
  .woocommerce div.product div.summary, .woocommerce-page div.product div.summary {
    width: 100% !important;
    padding-top: 0 !important;
  }
  .woocommerce div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
    width: 100% !important;
  }
  .woocommerce .woocommerce-message, .woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info {
    margin: 20px 0 10px !important;
  }
  .woocommerce .sidebar, .woocommerce-page .sidebar {
    display: none;
  }
  .woocommerce table.shop_table td.product-remove, .woocommerce table.shop_table th.product-remove, .woocommerce-page table.shop_table td.product-remove, .woocommerce-page table.shop_table th.product-remove {
    padding: 4px !important;
  }
  .woocommerce table.shop_table td.product-thumbnail, .woocommerce table.shop_table th.product-thumbnail, .woocommerce-page table.shop_table td.product-thumbnail, .woocommerce-page table.shop_table th.product-thumbnail {
    padding: 4px !important;
    width: 40px !important;
  }
  .woocommerce table.shop_table td.product-code, .woocommerce table.shop_table th.product-code, .woocommerce-page table.shop_table td.product-code, .woocommerce-page table.shop_table th.product-code {
    padding: 4px !important;
  }
  .woocommerce table.shop_table td.product-name, .woocommerce table.shop_table th.product-name, .woocommerce-page table.shop_table td.product-name, .woocommerce-page table.shop_table th.product-name {
    padding: 4px !important;
  }
  .woocommerce table.shop_table td.product-quantity, .woocommerce table.shop_table th.product-quantity, .woocommerce-page table.shop_table td.product-quantity, .woocommerce-page table.shop_table th.product-quantity {
    padding: 4px !important;
  }
  .woocommerce table.shop_table th, .woocommerce-page table.shop_table th {
    text-align: center !important;
  }
  .woocommerce table.shop_table td.actions, .woocommerce-page table.shop_table td.actions {
    text-align: center !important;
  }
  .woocommerce table.shop_table td.actions input.button, .woocommerce-page table.shop_table td.actions input.button {
    margin: 5px 0 !important;
    width: 100% !important;
  }
  .woocommerce .checkout .col-1, .woocommerce-page .checkout .col-1 {
    width: 100% !important;
  }
  .woocommerce .checkout .col-1 .woocommerce-billing-fields p.form-row-first, .woocommerce-page .checkout .col-1 .woocommerce-billing-fields p.form-row-first {
    width: 100% !important;
  }
  .woocommerce .checkout .col-1 .woocommerce-billing-fields p.form-row-last, .woocommerce-page .checkout .col-1 .woocommerce-billing-fields p.form-row-last {
    width: 100% !important;
  }
  .woocommerce .checkout .col-2, .woocommerce-page .checkout .col-2 {
    width: 100% !important;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-top: 20px;
  }
  .woocommerce .checkout h2#order_review_heading, .woocommerce-page .checkout h2#order_review_heading {
    padding-top: 20px !important;
  }
  .woocommerce .checkout #order_review .place-order input#place_order, .woocommerce-page .checkout #order_review .place-order input#place_order {
    width: 100%;
  }
  .woocommerce ul.order_details, .woocommerce-page ul.order_details {
    width: 100% !important;
  }
  div.pp_woocommerce p.currentTextHolder {
    font-size: 2em !important;
    line-height: 1.5 !important;
  }
  /* 404 */
  article#post-404 {
    text-align: center;
  }
  article#post-404 .fa-stack {
    font-size: 9em;
    width: 100%;
  }
  article#post-404 .fa-stack .fa-question {
    margin-top: .2em;
  }
  article#post-404 .text-404 {
    margin: 0 auto 1.2em;
    width: 100%;
  }
  article#post-404 .text-404 h1 {
    font-size: 3em;
    margin-top: 0;
  }
  article#post-404 .text-404 h2 {
    font-size: 1.5em;
    margin: .2em 0;
  }
  article#post-404 .fa {
    margin: -3px 0 0 0;
  }
}

@media only screen and (min-width: 480px) {
  /* menu-bar */
  .hotline-2 {
    display: none;
  }
  /* home */
  .feature img {
    width: 47%;
    float: left;
    margin: 5% 3% 0 0;
  }
  .feature .desc {
    width: 50%;
    float: right;
  }
  .feature h2 {
    margin-top: 5%;
    text-align: left;
  }
  .feature p {
    text-align: left;
  }
  /* logo-imprints */
  #logo-imprints-right .logo-imprints-pair {
    width: 50%;
  }
  /* woocommerce */
  .woocommerce ul.products li.group4 ul.group2:first-child, .woocommerce-page ul.products li.group4 ul.group2:first-child {
    width: 100% !important;
  }
  .woocommerce ul.products li.group4 ul.group2:last-child, .woocommerce-page ul.products li.group4 ul.group2:last-child {
    width: 100% !important;
  }
  .woocommerce ul.products li.product p span.wc-new-badge, .woocommerce-page ul.products li.product p span.wc-new-badge {
    top: 45% !important;
  }
  .woocommerce table.shop_table td.product-remove, .woocommerce table.shop_table th.product-remove, .woocommerce-page table.shop_table td.product-remove, .woocommerce-page table.shop_table th.product-remove {
    padding: 6px 12px !important;
  }
  .woocommerce table.shop_table td.product-thumbnail, .woocommerce table.shop_table th.product-thumbnail, .woocommerce-page table.shop_table td.product-thumbnail, .woocommerce-page table.shop_table th.product-thumbnail {
    padding: 6px 12px !important;
    width: 70px !important;
  }
  .woocommerce table.shop_table td.product-code, .woocommerce table.shop_table th.product-code, .woocommerce-page table.shop_table td.product-code, .woocommerce-page table.shop_table th.product-code {
    padding: 6px 12px !important;
  }
  .woocommerce table.shop_table td.product-name, .woocommerce table.shop_table th.product-name, .woocommerce-page table.shop_table td.product-name, .woocommerce-page table.shop_table th.product-name {
    padding: 6px 12px !important;
  }
  .woocommerce table.shop_table td.product-quantity, .woocommerce table.shop_table th.product-quantity, .woocommerce-page table.shop_table td.product-quantity, .woocommerce-page table.shop_table th.product-quantity {
    padding: 6px 12px !important;
  }
  .woocommerce table.shop_table th, .woocommerce-page table.shop_table th {
    text-align: left !important;
  }
  .woocommerce table.shop_table td.actions, .woocommerce-page table.shop_table td.actions {
    text-align: right !important;
  }
  .woocommerce table.shop_table td.actions input.button, .woocommerce-page table.shop_table td.actions input.button {
    margin: 0 !important;
    width: auto !important;
  }
  .woocommerce .checkout .col-1 .woocommerce-billing-fields p.form-row-first, .woocommerce-page .checkout .col-1 .woocommerce-billing-fields p.form-row-first {
    width: 48% !important;
  }
  .woocommerce .checkout .col-1 .woocommerce-billing-fields p.form-row-last, .woocommerce-page .checkout .col-1 .woocommerce-billing-fields p.form-row-last {
    width: 48% !important;
  }
  .woocommerce .checkout #order_review .place-order input#place_order, .woocommerce-page .checkout #order_review .place-order input#place_order {
    width: auto !important;
  }
  .woocommerce ul.order_details, .woocommerce-page ul.order_details {
    width: auto !important;
  }
}

@media only screen and (min-width: 550px) {
  /* home */
  .feature img {
    margin: 0 3% 0 0;
  }
  /* woocommerce */
  .woocommerce ul.products li.product p span.wc-new-badge, .woocommerce-page ul.products li.product p span.wc-new-badge {
    top: 50% !important;
  }
  .woocommerce div.product div.images img, .woocommerce-page div.product div.images img {
    width: 80% !important;
    float: left !important;
  }
  .woocommerce div.product div.images div.thumbnails, .woocommerce-page div.product div.images div.thumbnails {
    width: 20% !important;
    float: right !important;
    padding-left: 2% !important;
  }
  .woocommerce div.product div.images div.thumbnails a img, .woocommerce-page div.product div.images div.thumbnails a img {
    width: 100% !important;
    margin: 3% 0 !important;
  }
}

@media only screen and (min-width: 768px) {
  main aside.sidebar {
    width: 30%;
    margin-right: 0;
  }
  main aside.sidebar.sidebar-right {
    width: 30%;
    margin: 3% 2% 1.5% 1%;
  }
  main section {
    width: 67%;
  }
  /* header */
  a.logo-img {
    margin: 3% 4% 2% 2%;
    float: left;
    width: 54%;
  }
  .header-img {
    display: block;
  }
  /* sidebar */
  /* nav */
  .nav {
    display: block;
  }
  /* menu-bar */
  .menu-bar {
    display: none;
  }
  .hotline-2 {
    display: none;
  }
  /* home */
  .feature {
    width: 33%;
  }
  .feature img {
    float: none;
    width: auto;
    margin-right: 0;
    margin-bottom: 0;
  }
  .feature .desc {
    width: 100%;
  }
  .feature h2 {
    text-align: center;
    margin-top: 7%;
  }
  .feature p {
    text-align: center;
  }
  /* woocommerce */
  .woocommerce ul.products li.product p span.wc-new-badge, .woocommerce-page ul.products li.product p span.wc-new-badge {
    top: 50% !important;
  }
  .woocommerce .qv-btn, .woocommerce-page .qv-btn {
    display: block !important;
  }
  .woocommerce .woocommerce-message, .woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info {
    margin: 0 0 2em !important;
  }
  .woocommerce .sidebar, .woocommerce-page .sidebar {
    display: block;
  }
  .woocommerce div.pp_woocommerce p.currentTextHolder, .woocommerce-page div.pp_woocommerce p.currentTextHolder {
    font-size: 1em !important;
    line-height: 1.2 !important;
  }
  /* slidebar */
  .close-button {
    display: none;
  }
  /* 404 */
  article#post-404 {
    text-align: left;
  }
  article#post-404 .fa-stack {
    font-size: 15em;
    width: 50%;
  }
  article#post-404 .fa-stack .fa-question {
    margin-top: .2em;
  }
  article#post-404 .text-404 {
    margin: 11em auto 0;
    width: auto;
  }
  article#post-404 .text-404 h1 {
    font-size: 4.2em;
    margin-top: .67em;
  }
  article#post-404 .text-404 h2 {
    font-size: 2em;
    margin: .5em 0;
  }
  article#post-404 .fa {
    margin: -3px 0 0 0;
  }
}

@media only screen and (min-width: 992px) {
  /* woocommerce */
  .woocommerce div.product div.images, .woocommerce-page div.product div.images {
    width: 48% !important;
  }
  .woocommerce div.product div.images img, .woocommerce-page div.product div.images img {
    width: 100% !important;
    float: none !important;
  }
  .woocommerce div.product div.images div.thumbnails, .woocommerce-page div.product div.images div.thumbnails {
    width: 100% !important;
    float: none !important;
    padding-left: 0 !important;
  }
  .woocommerce div.product div.images div.thumbnails a img, .woocommerce-page div.product div.images div.thumbnails a img {
    width: 32% !important;
    margin: 0 2% 2% 0 !important;
  }
  .woocommerce div.product div.images div.thumbnails a:nth-child(3n) img, .woocommerce-page div.product div.images div.thumbnails a:nth-child(3n) img {
    margin-right: 0 !important;
  }
  .woocommerce div.product div.summary, .woocommerce-page div.product div.summary {
    width: 49% !important;
    padding-top: 9% !important;
  }
  .woocommerce div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
    width: 49% !important;
  }
}

@media only screen and (min-width: 1024px) {
  main aside.sidebar {
    width: 25%;
  }
  main aside.sidebar.sidebar-right {
    width: 25%;
  }
  main section {
    width: 72%;
  }
  /* header */
  a.logo-img {
    margin: 2% 4% 2% 2%;
  }
  /* nav */
  .hotline {
    display: inline-block;
  }
  /* footer */
  .footer .footer-left {
    float: left;
    text-align: left;
  }
  .footer .footer-left:after {
    display: none;
  }
  .footer .footer-left .copyright {
    margin: 0 0 1.5em 0;
  }
  .footer .footer-right {
    float: right;
    text-align: right;
    margin-left: 0;
  }
  .footer .footer-right p {
    margin: 1.5em 0;
  }
  /* woocommerce */
  .woocommerce ul.products li.group4 ul.group2:first-child, .woocommerce-page ul.products li.group4 ul.group2:first-child {
    width: 50% !important;
  }
  .woocommerce ul.products li.group4 ul.group2:last-child, .woocommerce-page ul.products li.group4 ul.group2:last-child {
    width: 50% !important;
  }
  .woocommerce .checkout .col-1, .woocommerce-page .checkout .col-1 {
    width: 48% !important;
  }
  .woocommerce .checkout .col-2, .woocommerce-page .checkout .col-2 {
    width: 48% !important;
    border-top: none;
    border-bottom: none;
    padding-bottom: 0;
    margin-top: 0;
  }
  .woocommerce .checkout h2#order_review_heading, .woocommerce-page .checkout h2#order_review_heading {
    padding-top: 40px !important;
  }
  /* home */
  .feature p {
    text-align: center;
  }
  /* logo-imprints */
  #logo-imprints-text-box {
    width: 36%;
    padding: 3% 2% 3% 0;
  }
  #logo-imprints-right {
    width: 64%;
    border-left: 1px solid #ccc;
    margin-top: 0;
  }
}

@media only screen and (min-width: 1060px) {
  .feature p {
    text-align: center;
  }
}

/*------------------------------------*\
    SLIDEBARS
\*------------------------------------*/
/* ----------
 * 002 - Site
 */
#sb-site,
.sb-site-container {
  /* You may now use class .sb-site-container instead of #sb-site and use your own id. However please make sure you don't set any of the following styles any differently on your id. */
  width: 100%;
  position: relative;
  z-index: 1;
  /* Site sits above Slidebars */
  background-color: #ffffff;
  /* Default background colour, overwrite this with your own css. I suggest moving your html or body background styling here. Making this transparent will allow the Slidebars beneath to be visible. */
  overflow: hidden;
  -webkit-box-shadow: -10px 0 15px -10px #000;
  box-shadow: -10px 0 15px -10px #000;
}

/* ---------------
 * 003 - Slidebars
 */
.sb-slidebar {
  height: 100%;
  overflow-y: auto;
  /* Enable vertical scrolling on Slidebars when needed. */
  position: fixed;
  top: 0;
  z-index: 0;
  /* Slidebars sit behind sb-site. */
  display: none;
  /* Initially hide the Slidebars. Changed from visibility to display to allow -webkit-overflow-scrolling. */
  background-color: #222222;
  /* Default Slidebars background colour, overwrite this with your own css. */
  -webkit-transform: translate(0px);
  /* Fixes issues with translated and z-indexed elements on iOS 7. */
}

.sb-left {
  left: 0;
  /* Set Slidebar to the left. */
}

.sb-right {
  right: 0;
  /* Set Slidebar to the right. */
}

html.sb-static .sb-slidebar,
.sb-slidebar.sb-static {
  position: absolute;
  /* Makes Slidebars scroll naturally with the site, and unfixes them for Android Browser < 3 and iOS < 5. */
}

.sb-slidebar.sb-active {
  display: block;
  /* Makes Slidebars visibile when open. Changed from visibility to display to allow -webkit-overflow-scrolling. */
}

.sb-style-overlay {
  z-index: 9999;
  /* Set z-index high to ensure it overlays any other site elements. */
}

.sb-momentum-scrolling {
  -webkit-overflow-scrolling: touch;
  /* Adds native momentum scrolling for iOS & Android devices. */
}

/* Slidebar widths for browsers/devices that don't support media queries. */
.sb-slidebar {
  width: 30%;
}

.sb-width-thin {
  width: 15%;
}

.sb-width-wide {
  width: 45%;
}

@media (max-width: 480px) {
  /* Slidebar widths on extra small screens. */
  .sb-slidebar {
    width: 70%;
  }
  .sb-width-thin {
    width: 55%;
  }
  .sb-width-wide {
    width: 85%;
  }
}

@media (min-width: 481px) {
  /* Slidebar widths on small screens. */
  .sb-slidebar {
    width: 55%;
  }
  .sb-width-thin {
    width: 40%;
  }
  .sb-width-wide {
    width: 70%;
  }
}

@media (min-width: 768px) {
  /* Slidebar widths on medium screens. */
  .sb-slidebar {
    width: 40%;
  }
  .sb-width-thin {
    width: 25%;
  }
  .sb-width-wide {
    width: 55%;
  }
}

@media (min-width: 992px) {
  /* Slidebar widths on large screens. */
  .sb-slidebar {
    width: 30%;
  }
  .sb-width-thin {
    width: 15%;
  }
  .sb-width-wide {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  /* Slidebar widths on extra large screens. */
  .sb-slidebar {
    width: 20%;
  }
  .sb-width-thin {
    width: 5%;
  }
  .sb-width-wide {
    width: 35%;
  }
}

/* ---------------
 * 004 - Animation
 */
.sb-slide,
#sb-site,
.sb-site-container,
.sb-slidebar {
  -webkit-transition: -webkit-transform 400ms ease;
  -moz-transition: -moz-transform 400ms ease;
  -o-transition: -o-transform 400ms ease;
  transition: transform 400ms ease;
  -webkit-transition-property: -webkit-transform, left, right;
  /* Add left/right for Android < 4.4. */
  -webkit-backface-visibility: hidden;
  /* Prevents flickering. This is non essential, and you may remove it if your having problems with fixed background images in Chrome. */
}

/* --------------------
 * 005 - Helper Classes
 */
.sb-hide {
  display: none;
  /* Optionally applied to control classes when Slidebars is disabled over a certain width. */
}

main .aboutslider-wrapper-1 {
  display: none;
  position: relative;
  width: 30%;
  float: left;
  margin-top: 10%;
}

main .aboutslider-wrapper-1 ul.aboutslider-1 {
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

main .aboutslider-wrapper-1 ul.aboutslider-1 li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
}

main .aboutslider-wrapper-1 ul.aboutslider-1 li:first-child {
  position: relative;
  display: block;
  float: left;
}

main .aboutslider-wrapper-1 ul.aboutslider-1 li img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

main .aboutslider-wrapper-2 {
  position: relative;
  margin-top: 3%;
}

main .aboutslider-wrapper-2 ul.aboutslider-2,
main .aboutslider-wrapper-2 ul.aboutslider-3,
main .aboutslider-wrapper-2 ul.aboutslider-4,
main .aboutslider-wrapper-2 ul.aboutslider-5 {
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 24%;
}

main .aboutslider-wrapper-2 ul.aboutslider-2 li,
main .aboutslider-wrapper-2 ul.aboutslider-3 li,
main .aboutslider-wrapper-2 ul.aboutslider-4 li,
main .aboutslider-wrapper-2 ul.aboutslider-5 li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  margin-right: 10px;
}

main .aboutslider-wrapper-2 ul.aboutslider-2 li:first-child,
main .aboutslider-wrapper-2 ul.aboutslider-3 li:first-child,
main .aboutslider-wrapper-2 ul.aboutslider-4 li:first-child,
main .aboutslider-wrapper-2 ul.aboutslider-5 li:first-child {
  position: relative;
  display: block;
  float: left;
}

main .aboutslider-wrapper-2 ul.aboutslider-2 li img,
main .aboutslider-wrapper-2 ul.aboutslider-3 li img,
main .aboutslider-wrapper-2 ul.aboutslider-4 li img,
main .aboutslider-wrapper-2 ul.aboutslider-5 li img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

main .aboutslider-right {
  float: left;
}

main .aboutslider-right h1 {
  line-height: 1;
}

@media only screen and (min-width: 320px) {
  main .aboutslider-right {
    width: 100%;
    margin-left: 0;
  }
  main .aboutslider-wrapper-1 {
    display: none;
  }
  main .aboutslider-wrapper-2 {
    margin-top: 3%;
  }
}

@media only screen and (min-width: 768px) {
  main .aboutslider-right {
    width: 65%;
    margin-left: 4%;
  }
  main .aboutslider-wrapper-1 {
    display: block;
  }
  main .aboutslider-wrapper-2 {
    margin-top: 0%;
  }
}

main aside.sidebar.sidebar-default {
  display: none;
}

main aside.sidebar.sidebar-right {
  display: block;
}
