@import 'mixins';

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

/* html element 62.5% font-size for REM use */
html {
    font-size: 62.5%;
    height: 100%;

    &.sb-scroll-lock.sb-active:not(.sb-static) {
        overflow: hidden;
        /* Prevent site from scrolling when a Slidebar is open, except when static Slidebars are only available. */
    }
}

body {
    font: 400 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $darkgrey;
    position: relative;
    min-width: 320px;
}

/* clear */
.clear:before,
.clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

a {
    color: $darkgrey;
    text-decoration: none;
}

a:hover {
    color: $darkgrey;
}

a:focus {
    outline: 0;
}

a:hover,
a:active {
    outline: 0;
}

input:focus {
    outline: 0;
    border: 1px solid #04A4CC;
}

h1 {
    font-size: 3.3em;
    font-weight: 300;
    line-height: 1.2;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.3em;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* header */
.header {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 2;
}

/* wrapper */
.wrapper {
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
}

/* logo */

.logo-wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

a.logo-img {
    display: block;
    text-align: center;
    float: none;
    width: 90%;
    margin: 3% auto;
}

.header-img {
    display: none;
    width: 38%;
    max-width: 409px;
    float: right;
    margin: .5% 2% .5% 0;
}

/* Top Banner widget */
.brochure-link-widget {
    position: absolute;
    background: #ff4040;
    padding: 5px 14px;
    border-radius: 30px;
    margin: 35px 0 0 710px;

    a {
        color: #fff;
        font-size: 1.7em;
        font-weight: bold;
    }

    &:hover {
        background: #fff;
        border: 3px solid #ff4040;
        padding: 2px 11px;

        a {
            color: #ff4040;
        }
    }
}

.menu-bar {
    background: $red;
    width: 100%;
    height: 42px;
    z-index: 4;
    display: block;

    .menu-button {
        float: left;
        font-size: 2.3em;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        padding: 9px 14px 8px 14px;
        cursor: pointer;

        .fa-navicon {
            margin-right: 10px;
        }
    }

    .products-button {
        float: right;
        font-size: 2.3em;
        font-weight: 700;
        line-height: 1;
        color: $red;
        background: #fff;
        padding: 9px 14px 8px 14px;
        cursor: pointer;

        .fa-list-ul {
            margin-left: 10px;
            margin-right: 0;
        }
    }
}

.hotline {
    display: none;
    position: relative;
    width: auto;
    float: right;
    background: #fff;
    padding: 0 15px 1px;
    color: $red;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 1.9;
}

.hotline-2 {
    display: none;
    position: relative;
    width: auto;
    float: right;
    background: #fff;
    padding: 0 15px 1px;
    color: $red;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 1.9;
}

/* nav */
.nav-wrapper {
    max-width: 1060px;
    margin: 0 auto;

    .close-button {
        margin: 14px 0;
        padding: 3px 14px 5px;
        font-size: 1.5em;
        font-weight: 500;
        text-align: right;
        color: #eee;
        background: transparent;
        line-height: 33px;
        cursor: pointer;

        .fa-times {
            margin-right: 0;
        }
    }
}

.nav {
    position: relative;
    display: none;
    float: left;
    margin: 0;
    width: 100%;
    height: 42px;
    background-color: $red;
    z-index: 3;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        ul {
            display: none;
            position: absolute;
            top: 42px;
            left: 0;
            float: left;
            width: 200px;
            z-index: 99999;

            a {
                background: #eee;
                line-height: 1em;
                padding: 10px;
                width: 200px;
                height: auto;
                color: $darkgrey;

                &:hover {
                    background: $red;
                    color: #fff;
                }
            }
        }

        li {
            float: left;
            position: relative;

            ul.sub-menu {
                border-left: 3px solid $red;
                box-shadow: 0 2px 3px -1px #999;

                li {
                    a {
                        border-bottom: none !important;
                        line-height: 1 !important;
                    }
                }

                li.menu-item-has-children {
                    & > a:after {
                        content: "\f054";
                        font-family: FontAwesome;
                        font-size: .8em;
                        line-height: 1.5;
                        position: absolute;
                        right: 10px;
                    }

                    &:hover > a:after {
                        content: "\f138";
                        font-size: 1em;
                        line-height: 1;
                    }
                }

                ul.sub-menu {
                    margin-left: 200px;
                    top: 10px;
                }
            }

            &:hover {
                background: $red;

                & > ul {
                    display: block;
                }
            }

            &.current_page_item,
            &.current-menu-ancestor,
            &.current-menu-item,
            &.current-menu-parent {
                background: #f5f5f5;
                height: 100%;

                & > a {
                    color: $darkgrey;
                    border-bottom: 2px solid #444;
                    line-height: 40px;
                }

                &:hover > a {
                    background: #f5f5f5;
                }
            }

            &.menu-item-has-children {
                & > a:after {
                    content: "\f13a";
                    font-family: FontAwesome;
                    margin-left: 8px;
                }
            }
        }

        & > li:hover > a {
            border-bottom: 2px solid #444;
            line-height: 40px;
        }
    }

    a {
        color: #fff;
        display: block;
        line-height: 42px;
        padding: 0 15px;
        text-decoration: none;
        font-weight: 700;
        font-size: 1.3em;
    }

    li,
    ul ul {
        &:hover > a {
            color: $darkgrey;
            background: #f5f5f5;
        }
    }
}

/* footer */
.footer {
    background: $altblack;
    border-top: 8px solid $red;
    color: #fff;
    width: 100%;
    position: relative;
    display: inline-block;
    bottom: -3px;
    font-size: 1.1em;
    line-height: 1.7em;

    & > div {
        max-width: 1280px;
        margin: 0 auto;
    }

    .footer-left {
        float: none;
        text-align: center;

        &:after {
            content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
        }

        ul {
            margin: 1.5em 0 0 0;
            padding: 0;

            &.menu li {
                display: inline-block;
                margin: 0 10px 0 0;

                &.current_page_item a {
                    &:before {
                        content: "-";
                        padding-right: 2px;
                    }

                    &:after {
                        content: "-";
                        padding-left: 2px;
                    }
                }
            }
        }

        .copyright {
            margin: 0;
            font-size: 1.1em;
        }
    }

    .footer-right {
        float: none;
        text-align: center;

        p {
            font-size: 1.1em;
            margin: .5em 0 1.5em;
        }
    }

    a {
        font-weight: 700;
        color: #fff;

        &:hover,
        &:active,
        &:focus {
            color: $red;
        }
    }
}

#wpstats {
    display: none;
}

/*------------------------------------*\
    PAGES
\*------------------------------------*/

main {
    display: block;
    float: left;
    width: 100%;

    aside.sidebar {
        /* sidebar */
        float: left;
        width: 30%;
        margin: 0 0 2% 0;
    }

    section {
        width: 66%;
        float: left;
        padding: 0 2% 2%;
        display: block;
    }

    &.nosidebar section {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        float: none;
        padding: 0 2%;
    }

    &.noheader section {
        padding: 2%;
    }

    .woocommerce,
    .woocommerce-page & {
        section {
            padding: 1% 2%;
        }
    }
}

/* slidebar */
.sb-slidebar {

    /* left */
    .nav {
        display: block;
        background: transparent;

        ul {
            li {
                width: 100%;

                ul.sub-menu {
                    visibility: hidden;
                }

                &.menu-item-has-children > a:after {
                    display: none;
                }

                &.current_page_item,
                &.current-menu-ancestor,
                &.current-menu-item,
                &.current-menu-parent {
                    & > a {
                        border-bottom: 1px solid $red;
                        line-height: 1.5;
                        background: $red;
                        color: #fff;
                    }

                    &:hover > a {
                        border-bottom: 1px dotted #333;
                        background: $red;
                    }
                }

                &:hover {
                    & > a {
                        line-height: 1.5;
                        border-bottom: 1px solid $red;
                        background: $red;
                        color: #fff;
                    }
                }

                a {
                    border-bottom: 1px dotted #333;
                }
            }
        }

        a {
            padding: 20px 15px;
            line-height: 1.5;
        }
    }

    /* right */
    aside.sidebar {
        margin: 0;
        display: block !important;

        .widget_product_categories {
            background: transparent;
            padding: 15px 0;

            h3 {
                color: #eee;
                padding: 0 4% 5px;
                border-bottom: none;
                text-align: right;
            }

            ul.product-categories {
                padding-left: 0%;

                li {
                    padding: 0;
                    margin: 0;
                    border-bottom: 1px solid #333;

                    a {
                        padding: 10px 15px;
                        color: #eee;
                        display: block;
                        width: 100%;

                        &:hover {
                            margin-left: 0;
                            color: #444 !important;
                            background: #eee;
                        }
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    &.current-cat,
                    &.current-cat-parent {
                        & > a {
                            border-left: 3px solid #fff;
                            background: #ff4040;

                            &:hover {
                                color: #eee;
                            }
                        }

                        a {
                            color: #eee;
                        }

                        ul.children {
                            margin: 0 0 0 0;
                            padding-left: 0;

                            li {
                                padding: 0;
                                margin: 0;
                                border-bottom: 1px solid #333;

                                a {
                                    color: #eee;
                                    padding: 10px 15px;
                                    margin-left: 5%;
                                    display: block;
                                    width: 95%;
                                }

                                &:first-child {
                                    border-top: 1px solid #333;
                                }

                                ul.children {
                                    li {
                                        a {
                                            width: 90%;
                                            margin-left: 10%;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.current-cat {
                        & > a {
                            color: #eee !important;
                        }
                    }

                    &.current-cat-parent {
                        & > a {
                            background: #eee;
                            color: #444;
                            border-left: 3px solid $red;
                        }

                        ul.children {
                            li {
                                &.current-cat-parent {
                                    & > a {
                                        background: #eee;
                                        color: #444;
                                        border-left: 3px solid $red;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.home section {
    padding: 0 !important;
}

main .homeslider-wrapper {
    position: relative;
    margin: 0;

    &:hover .slides_nav,
    &:active .slides_nav,
    &:focus .slides_nav {
        opacity: .7;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    ul.homeslider {
        position: relative;
        list-style: none;
        overflow: hidden;
        width: 100%;
        padding: 0;
        margin: 0;

        li {
            -webkit-backface-visibility: hidden;
            position: absolute;
            display: none;
            width: 100%;
            left: 0;
            top: 0;

            &:first-child {
                position: relative;
                display: block;
                float: left;
            }

            h1 {
                text-align: right;
                padding: 1% 2%;
                width: auto;
                bottom: 0;
                right: 9%;
                left: auto;
                font-size: 2.5em;
                font-weight: 700;
                position: absolute;
                background: #222;
                color: #FFF;
                opacity: .9;
                margin: 0;
                text-shadow: 1px 2px 0px #000;
            }

            img {
                display: block;
                height: auto;
                float: left;
                width: 100%;
                border: 0;
            }
        }
    }

    a.slides_nav {
        z-index: 2;
        position: absolute;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        top: 40%;
        left: 0;
        opacity: 0;
        text-indent: -9999px;
        overflow: hidden;
        text-decoration: none;
        width: 35px;
        height: 70px;
        background: url("https://dev.crystalight.com.sg/wp-content/themes/Crystalight/img/arrows.png") no-repeat right top;
        background: url("https://dev.crystalight.com.sg/wp-content/themes/Crystalight/img/arrows.svg") no-repeat right top;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;

        &.next {
            left: auto;
            right: 0;
            background: url("https://dev.crystalight.com.sg/wp-content/themes/Crystalight/img/arrows.png") no-repeat right top;
            background: url("https://dev.crystalight.com.sg/wp-content/themes/Crystalight/img/arrows.svg") no-repeat left top;
        }
    }

    ul.slides_tabs {
        width: 100%;
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
            list-style: none;
            text-indent: -9999px;
            background: url("https://dev.crystalight.com.sg/wp-content/themes/Crystalight/img/bullets.png") no-repeat;
            background: url("https://dev.crystalight.com.sg/wp-content/themes/Crystalight/img/bullets.svg") no-repeat;
            background-position: center 3px;
            width: 26px;
            height: 20px;

            &.slides_here {
                background-position: center -20px;
            }
        }
    }
}

@media only screen and (min-width: 320px) {
    main .homeslider-wrapper {
        a.slides_nav {
            display: none;
        }

        ul.homeslider li h1 {
            width: 100%;
            right: 0;
            font-size: 1.2em;
            text-align: center;
            padding: 2%;
        }
    }
}

@media only screen and (min-width: 480px) {
    main .homeslider-wrapper ul.homeslider li h1 {
        font-size: 1.4em;
    }
}

@media only screen and (min-width: 768px) {
    main .homeslider-wrapper {
        a.slides_nav {
            display: block;
        }

        ul.homeslider li h1 {
            width: auto;
            right: 9%;
            font-size: 2.5em;
            text-align: right;
            padding: 1% 2%;
        }
    }
}

.feature {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 15px 15px 20px;
    vertical-align: top;

    img {
        width: 80%;
        margin: 7% 10%;
    }

    h2 {
        text-align: center;
        line-height: 1;
        margin-top: 0;
    }

    p {
        text-align: center;
    }
}

.google-maps-widget {
    margin: 0;

    h3 {
        font-size: 2em;
        font-weight: 300;
        margin: 0;
    }

    p:nth-child(3) {
        text-align: center;
    }

    p:nth-child(4) {
        text-align: center;
    }

    img {
        width: 100%;
        max-width: 320px;
        border-radius: 10px;
        border: 2px solid #ccc;
        box-shadow: none;
        -webkit-box-shadow: none;
        @include transition(all .3s ease);

        &:hover,
        &:active,
        &:focus {
            box-shadow: 0 0 5px #aaa;
            -webkit-box-shadow: 0 0 5px #aaa;
            @include transition(all .3s ease);
        }
    }
}

#contact-details {
    font-size: 1.3em;
    margin: 15px 2%;

    img {
        vertical-align: middle;
    }

    p {
        font-size: 1em;
        display: inline-block;
        width: 100%;
        margin: 10px 0;
    }

    .fa {
        display: inline-block;
        width: 40px;
        float: left;
        margin: -3px 0 0 0;
    }

    span {
        line-height: 20px;
        display: inline-block;
        width: 85%;
        float: left;
        margin: 0;
    }
}

#logo-imprints-text-box {
    float: left;
    width: 100%;
    padding: 0;

    h1 {
        font-size: 3em;
        line-height: 1.2em;
    }

    p {
        line-height: 2em;
    }
}

#logo-imprints-right {
    float: left;
    width: 100%;
    border: none;
    margin-top: 4%;
    padding-left: 0;
}

.logo-imprints-pair {
    float: left;
    width: 100%;
}

.logo-imprints-item {
    float: left;
    width: 50%;
    text-align: center;
    padding: 0 2% 4%;
    line-height: 1.5;
}

.disclaimertext {
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 12px 0;
    padding: 10px 15px;
    position: relative;
    line-height: 2.3em;

    & > strong:first-child {
        background: #FFF;
        left: 20px;
        padding: 0 5px;
        position: absolute;
        top: -15px;
        font-size: 1.5em;
    }
}

.infobox {
    border: 1px solid #E5E5E5;
    border-top: 1px solid $red;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 25px 0 12px;
    padding: 10px 15px;
    position: relative;
    line-height: 2em;

    & > strong:first-child {
        background: #FFF;
        left: 20px;
        padding: 0 5px;
        position: absolute;
        top: -12px;
        font-size: 1.5em;
    }

    ul {
        margin: 5px 0 0 0;
        padding-left: 30px;
        font-size: 1.2em;
    }
}

/* 404 */
article#post-404 {
    max-width: 768px;
    margin: 0 auto;

    .fa-stack {
        font-size: 15em;
        margin: .45em auto .4em;
        float: left;
        width: 50%;

        .fa-question {
            margin-top: .2em;
        }
    }

    .text-404 {
        margin-top: 11em;
        float: left;

        h1 {
            font-size: 4.2em;
        }

        a:hover {
            color: $red;
        }
    }
}

/*------------------------------------*\
    WOOCOMMERCE
\*------------------------------------*/

.woocommerce,
.woocommerce-page {
    ul.products {
        li.group4 {
            ul.group2 {
                &:first-child {
                    width: 100% !important;
                }

                &:last-child {
                    width: 100% !important;
                }
            }
        }

        li.product {
            p {
                span.wc-new-badge {
                    top: 40% !important;
                }
            }
        }
    }

    .qv-btn {
        display: none !important;
    }

    div.product {
        div.images {
            width: 100% !important;
        }

        div.summary {
            width: 100% !important;
            padding-top: 0 !important;
        }

        .woocommerce-tabs {
            width: 100% !important;
        }

        span.price {
            display: none;
        }
    }

    .woocommerce-message,
    .woocommerce-error,
    .woocommerce-info {
        margin: 20px 0 10px !important;
    }

    .sidebar {
        display: none;
    }

    table.shop_table {

        td,
        th {
            &.product-remove {
                padding: 4px !important;
            }

            &.product-thumbnail {
                padding: 4px !important;
                width: 40px !important;
            }

            &.product-code {
                padding: 4px !important;
            }

            &.product-name {
                padding: 4px !important;
            }

            &.product-quantity {
                padding: 4px !important;
            }
        }

        th {
            text-align: center !important;
        }

        td.actions {
            text-align: center !important;

            input.button {
                margin: 5px 0 !important;
                width: 100% !important;
            }
        }
    }

    .checkout {
        .col-1 {
            width: 100% !important;

            .woocommerce-billing-fields {
                p.form-row-first {
                    width: 100% !important;
                }

                p.form-row-last {
                    width: 100% !important;
                }
            }
        }

        .col-2 {
            width: 100% !important;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            padding-bottom: 20px;
            margin-top: 20px;
        }

        h2#order_review_heading {
            padding-top: 20px !important;
        }

        #order_review {
            .place-order {
                input#place_order {
                    width: 100%;
                }
            }
        }
    }

    ul.order_details {
        width: 100% !important;
    }
}

div.pp_woocommerce {
    p.currentTextHolder {
        font-size: 2em !important;
        line-height: 1.5 !important;
    }
}

.widget_product_categories {
    background: #e5e5e5;
    padding: 15px 5%;

    h3 {
        font-size: 2.4em;
        color: #777;
        border-bottom: 2px groove #fff;
        margin: 0;
        padding: 0 0 5px;
    }

    ul.product-categories {
        padding-left: 0;
        margin-bottom: 5px;

        li {
            list-style: none;
            padding: 5px 0 0;
            margin-top: 5px;

            a {
                font-size: 1.3em;
                font-weight: bold;
                border-left: 3px solid #fff;
                padding: 3px 5px;
                color: #777;
                @include transition(all, .2s, ease-out);

                &:hover {
                    margin-left: 10px;
                    border-left: 3px solid $red;
                    color: $darkgrey;
                    @include transition(all, .1s, ease-out);
                }
            }

            &.current-cat,
            &.current-cat-parent {
                a {
                    border-left: 3px solid $red;
                    color: $darkgrey;
                }

                ul.children {
                    margin: 10px 0 0;
                    padding-left: 10px;

                    li {
                        padding: 4px 0 7px;
                        margin: 3px 0 0;
                        border-bottom: 1px solid #f5f5f5;

                        a {
                            color: #777;
                            border-left: 3px solid #fff;
                            padding: 3px 5px;
                            margin-left: 10px;

                            &:hover,
                            &:active,
                            &:focus {
                                margin-left: 20px;
                                border-left: 3px solid $red;
                                color: $darkgrey;
                            }
                        }

                        &.current-cat,
                        &.current-cat-parent {
                            a {
                                border-left: 3px solid $red;
                                color: $darkgrey;
                            }

                            ul.children {
                                li {
                                    margin: 3px 0 0 10px;

                                    a {

                                        &:hover,
                                        &:active,
                                        &:focus {
                                            margin-left: 20px;
                                            border-left: 3px solid $red;
                                            color: $darkgrey;
                                        }
                                    }
                                }
                            }
                        }

                        &.current-cat {
                            ul.children {
                                li {
                                    a {
                                        border-left: 3px solid $red;
                                    }
                                }
                            }
                        }

                        &.current-cat-parent {
                            ul.children {
                                li {
                                    a {
                                        border-left: 3px solid #fff;
                                    }

                                    &.current-cat {
                                        a {
                                            border-left: 3px solid $red;
                                        }
                                    }
                                }
                            }
                        }

                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }
}


/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

/* Buttons */
.btn-grey {
    font-size: 1.1em;
    padding: 5px 15px;
    border-radius: 50px;
    background: #fff;
    display: inline-block;
    border: 2px solid $darkgrey;
    color: #444;
    font-weight: 700;

    &:hover,
    &:focus {
        background: $darkgrey;
        color: #fff;
    }

    &:active {
        background: #555;
    }
}

/* Text styles */
.label-grey {
    background-color: #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    padding: 1px 4px 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
}

.notice-blue {
    color: #3A87AD;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    background: #D9EDF7;
    border: 1px solid #BCE8F1;
    border-radius: 4px;
    font-size: 1.4em;
    margin: 14px 0px 18px;
    outline: #3A87AD none 0px;
    padding: 8px 35px 8px 14px;
}

/* Font Awesome Icons */
.fa {
    margin: -3px 15px 0 0;
    vertical-align: middle;
}


/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
    background: #ccc;
    color: #222;
    text-shadow: none;
}

::-webkit-selection {
    background: #ccc;
    color: #222;
    text-shadow: none;
}

::-moz-selection {
    background: #ccc;
    color: #222;
    text-shadow: none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #FFF;
    border: 1px solid #F0F0F0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.sticky {}

.bypostauthor {}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@import 'responsive';

/*------------------------------------*\
    SLIDEBARS
\*------------------------------------*/

/* ----------
 * 002 - Site
 */

#sb-site,
.sb-site-container {
    /* You may now use class .sb-site-container instead of #sb-site and use your own id. However please make sure you don't set any of the following styles any differently on your id. */
    width: 100%;
    position: relative;
    z-index: 1;
    /* Site sits above Slidebars */
    background-color: #ffffff;
    /* Default background colour, overwrite this with your own css. I suggest moving your html or body background styling here. Making this transparent will allow the Slidebars beneath to be visible. */
    overflow: hidden;
    -webkit-box-shadow: -10px 0 15px -10px #000;
    box-shadow: -10px 0 15px -10px #000;
}

/* ---------------
 * 003 - Slidebars
 */

.sb-slidebar {
    height: 100%;
    overflow-y: auto;
    /* Enable vertical scrolling on Slidebars when needed. */
    position: fixed;
    top: 0;
    z-index: 0;
    /* Slidebars sit behind sb-site. */
    display: none;
    /* Initially hide the Slidebars. Changed from visibility to display to allow -webkit-overflow-scrolling. */
    background-color: #222222;
    /* Default Slidebars background colour, overwrite this with your own css. */
    -webkit-transform: translate(0px);
    /* Fixes issues with translated and z-indexed elements on iOS 7. */
}

.sb-left {
    left: 0;
    /* Set Slidebar to the left. */
}

.sb-right {
    right: 0;
    /* Set Slidebar to the right. */
}

html.sb-static .sb-slidebar,
.sb-slidebar.sb-static {
    position: absolute;
    /* Makes Slidebars scroll naturally with the site, and unfixes them for Android Browser < 3 and iOS < 5. */
}

.sb-slidebar.sb-active {
    display: block;
    /* Makes Slidebars visibile when open. Changed from visibility to display to allow -webkit-overflow-scrolling. */
}

.sb-style-overlay {
    z-index: 9999;
    /* Set z-index high to ensure it overlays any other site elements. */
}

.sb-momentum-scrolling {
    -webkit-overflow-scrolling: touch;
    /* Adds native momentum scrolling for iOS & Android devices. */
}

/* Slidebar widths for browsers/devices that don't support media queries. */
.sb-slidebar {
    width: 30%;
}

.sb-width-thin {
    width: 15%;
}

.sb-width-wide {
    width: 45%;
}

@media (max-width: 480px) {

    /* Slidebar widths on extra small screens. */
    .sb-slidebar {
        width: 70%;
    }

    .sb-width-thin {
        width: 55%;
    }

    .sb-width-wide {
        width: 85%;
    }
}

@media (min-width: 481px) {

    /* Slidebar widths on small screens. */
    .sb-slidebar {
        width: 55%;
    }

    .sb-width-thin {
        width: 40%;
    }

    .sb-width-wide {
        width: 70%;
    }
}

@media (min-width: 768px) {

    /* Slidebar widths on medium screens. */
    .sb-slidebar {
        width: 40%;
    }

    .sb-width-thin {
        width: 25%;
    }

    .sb-width-wide {
        width: 55%;
    }
}

@media (min-width: 992px) {

    /* Slidebar widths on large screens. */
    .sb-slidebar {
        width: 30%;
    }

    .sb-width-thin {
        width: 15%;
    }

    .sb-width-wide {
        width: 45%;
    }
}

@media (min-width: 1200px) {

    /* Slidebar widths on extra large screens. */
    .sb-slidebar {
        width: 20%;
    }

    .sb-width-thin {
        width: 5%;
    }

    .sb-width-wide {
        width: 35%;
    }
}

/* ---------------
 * 004 - Animation
 */

.sb-slide,
#sb-site,
.sb-site-container,
.sb-slidebar {
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    -o-transition: -o-transform 400ms ease;
    transition: transform 400ms ease;
    -webkit-transition-property: -webkit-transform, left, right;
    /* Add left/right for Android < 4.4. */
    -webkit-backface-visibility: hidden;
    /* Prevents flickering. This is non essential, and you may remove it if your having problems with fixed background images in Chrome. */
}

/* --------------------
 * 005 - Helper Classes
 */

.sb-hide {
    display: none;
    /* Optionally applied to control classes when Slidebars is disabled over a certain width. */
}


main .aboutslider-wrapper-1 {
  display: none;
  position: relative;
  width:30%;
  float: left;
  margin-top: 10%;
}
main .aboutslider-wrapper-1 ul.aboutslider-1 {
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
main .aboutslider-wrapper-1 ul.aboutslider-1 li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
}
main .aboutslider-wrapper-1 ul.aboutslider-1 li:first-child {
  position: relative;
  display: block;
  float: left;
}
main .aboutslider-wrapper-1 ul.aboutslider-1 li img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

main .aboutslider-wrapper-2 {
  position: relative;
  margin-top:3%;
}
main .aboutslider-wrapper-2 ul.aboutslider-2,
main .aboutslider-wrapper-2 ul.aboutslider-3,
main .aboutslider-wrapper-2 ul.aboutslider-4,
main .aboutslider-wrapper-2 ul.aboutslider-5 {
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: inline-block;
  width:24%;
}
main .aboutslider-wrapper-2 ul.aboutslider-2 li,
main .aboutslider-wrapper-2 ul.aboutslider-3 li,
main .aboutslider-wrapper-2 ul.aboutslider-4 li,
main .aboutslider-wrapper-2 ul.aboutslider-5 li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  margin-right: 10px;
}
main .aboutslider-wrapper-2 ul.aboutslider-2 li:first-child,
main .aboutslider-wrapper-2 ul.aboutslider-3 li:first-child,
main .aboutslider-wrapper-2 ul.aboutslider-4 li:first-child,
main .aboutslider-wrapper-2 ul.aboutslider-5 li:first-child {
  position: relative;
  display: block;
  float: left;
}
main .aboutslider-wrapper-2 ul.aboutslider-2 li img,
main .aboutslider-wrapper-2 ul.aboutslider-3 li img,
main .aboutslider-wrapper-2 ul.aboutslider-4 li img,
main .aboutslider-wrapper-2 ul.aboutslider-5 li img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
main .aboutslider-right {
  float:left;
}
main .aboutslider-right h1 {
  line-height:1;
}
@media only screen and (min-width:320px) {
  main .aboutslider-right {  
    width:100%;
    margin-left:0;
  }
  main .aboutslider-wrapper-1 {
    display:none;
  }
  main .aboutslider-wrapper-2 {
    margin-top:3%;
  }
}
@media only screen and (min-width:768px) {
  main .aboutslider-right {  
    width:65%;
    margin-left:4%;
  }
  main .aboutslider-wrapper-1 {
    display:block;
  }
  main .aboutslider-wrapper-2 {
    margin-top:0%;
  }
}


main aside.sidebar.sidebar-default {
  display:none;
}
main aside.sidebar.sidebar-right {
  display:block;
}