@import 'mixins';
@import 'woocommerce-base'; /* Contains base colours like $primary */

/* Colours */
$tertiary: 		$primary; 									/* Price slider bar / layered nav UI */
$tertiarytext: 	$primarytext;								/* Text on tertiary colour bg */
$quaternary: 	desaturate( darken( $tertiary, 45%), 40% ); /* Price slider bg */

/* =Custom Font
-------------------------------------------------------------- */
@font-face {
	font-family: 'star';
	src:url('./fonts/star.eot');
	src:url('./fonts/star.eot?#iefix') format('embedded-opentype'),
		url('./fonts/star.woff') format('woff'),
		url('./fonts/star.ttf') format('truetype'),
		url('./fonts/star.svg#star') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'WooCommerce';
	src:url('./fonts/WooCommerce.eot');
	src:url('./fonts/WooCommerce.eot?#iefix') format('embedded-opentype'),
		url('./fonts/WooCommerce.woff') format('woff'),
		url('./fonts/WooCommerce.ttf') format('truetype'),
		url('./fonts/WooCommerce.svg#WooCommerce') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* =Global styles/layout
-------------------------------------------------------------- */
p.demo_store {
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	width: 100%;
	font-size: 1em;
	padding: .5em 0;
	text-align: center;
	@include vertical_gradient( $primary, darken($primary, 10) );
	border: 1px solid darken($primary, 10);
	color: $primarytext;
	z-index: 99998;
	@include inset_box_shadow( 0, 0, 0, 3px, rgba(255,255,255,0.2) );
}

.admin-bar { // Styles applied when the admin bar is present
	p.demo_store {
		top:28px;
	}
}

input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="www"], 
input[type="tel"],
input[type="number"],
textarea { /* Text field styling */
	border-radius:15px;
	font-size:1.2em;
}

div.product_meta {
	margin:1em 0;
	.sku_wrapper {
		font-size:14px;
		.sku {
			padding:4px 8px;
			font-weight:bold;
			background:$lightgrey;
			color:$darkgrey;
		}
	}
}

/* =Utilities
-------------------------------------------------------------- */
.wc-forward, .wc-forward a {
	&:after {
		@include iconafter( "\e029" );
		font-size:.75em;
	}
}
.wc-backward, .wc-backward a {
	&:before {
		@include iconbefore( "\e02f" );
		font-size:.75em;
	}
}


/* =Main Styles (namespace to avoid conflict with common global class names)
-------------------------------------------------------------- */
.woocommerce, .woocommerce-page { // namespace to avoid conflict with common global class names

	.woocommerce-message, .woocommerce-error, .woocommerce-info {
		padding: 1em 13.5em 1em 3.5em !important;
		margin: 0 0 2em;
		position: relative;
		@include border_radius(4px);
		@include vertical_gradient( lighten( $secondary, 2 ), $secondary );
		color: $secondarytext;
		@include text_shadow( 0, 1px, 0, lighten( $secondary, 4 ) );
		list-style:none outside !important;
		@include clearfix();
		width: auto;
		font-size: 1.2em;
		-webkit-box-shadow:
			inset 0 -2px 6px rgba(0,0,0,0.05),
			inset 0 -2px 30px rgba(0,0,0,0.015),
			inset 0 1px 0 #fff,
			0 1px 2px rgba(0,0,0,0.3);
		box-shadow:
			inset 0 -2px 6px rgba(0,0,0,0.05),
			inset 0 -2px 30px rgba(0,0,0,0.015),
			inset 0 1px 0 #fff,
			0 1px 2px rgba(0,0,0,0.3);

		&:before {
			content: "";
			height: 1.5em;
			width: 1.5em;
			display:block;
			position:absolute;
			top: 0;
			left: 1em;
			font-family: sans-serif;
			font-size:1.1em;
			line-height: 1.4;
			text-align: center;
			color: #fff;
			text-shadow:0 1px 0 rgba(0,0,0,0.2);
			padding-top:1em;
			@include border_radius_bottom(4px);
			@include inset_box_shadow(0,-1px,0,0,rgba(0,0,0,0.1));
		}

		&:after {
			display:none;
		}

		.button {
			text-shadow: none;
            position:absolute;
            top:16%;
            right:2%;
		}

		li {
			list-style:none outside !important;
			padding-left:0 !important;
			margin-left:0 !important;
		}
	}

	.woocommerce-message {
		border-top:3px solid #8fae1b;
		&:before {
			background-color:#8fae1b;
			content: "\2713";
			height:33px;
			line-height:1em;
		}
	}
	.woocommerce-info {
		border-top:3px solid #1e85be;
		&:before {
			background-color:#1e85be;
			content: "i";
			font-family: Times, Georgia, serif;
			font-style: italic;
			height:35px;
			line-height:1em;
		}
	}
	.woocommerce-error {
		border-top:3px solid #b81c23;
		&:before {
			background-color:#b81c23;
			content: "\00d7";
			font-weight: 700;
			height:35px;
			line-height:1em;
		}
	}

	small.note {
		display:block;
		color: $subtext;
		font-size: 11px;
		line-height: 21px;
		margin-top: 10px;
	}

	.woocommerce-breadcrumb{
		@include clearfix();
		margin: 0 0 1em;	
		padding: 0;
		font-size: 0.92em;
		color: $subtext;
		a {
			color: $subtext;
		}
	}	

	/* =Product Page
	-------------------------------------------------------------- */

	div.product, #content div.product {
		margin-bottom: 0;
		position: relative;

		/* Main product title */
		.product_title {
			clear:none;
			margin-top: 0;
			padding: 0;
		}

		/* Price */
		span.price, p.price {
			color: $highlight;
			font-size: 1.25em;
			ins {
				background: inherit;
			}
			del {
				font-size: 0.67em;
				color:fade( desaturate( $highlight, 75% ), 50% );
			}
		}

		/* Stock */
		p.stock {
			font-size: 0.92em;
		}
		.stock {
			color: $highlight;
		}
		.out-of-stock {
			color: $red;
		}

		/* Product image and thumbnail */
		div.images {
			margin-bottom: 2em;
			width:48%;
			margin-right:3%;
			float:left;
			img {
				display:block;
				width: 100%;
				height:auto;
				@include transition();
			}
			div.thumbnails {
				padding-top: 1em;
				a {
					img {
						width:32%;
						margin:0 2% 2% 0;
						display:inline-block;
						&:hover {
							@include box-shadow(0, 0, 5px, 0, #888)
						}
					}
					&:nth-child(3n) img {
						margin-right:0;
					}
				}
			}
		}

		/* Summary div (contains title, price etc) */
		div.summary {
			margin-bottom: 2em;
			padding-top:9%;
			width:49%;
			float:left;
		}

		/* Social networking */
		div.social {
			text-align: right;
			margin: 0 0 1em;
			span {
				margin: 0 0 0 2px;
				span {
					margin: 0;
				}
				.stButton .chicklets {
					padding-left: 16px;
					width: 0;
				}
			}
			iframe {
				float:left;
				margin-top: 3px;
			}
		}

		/* Tabs on the product page */
		.woocommerce-tabs {
			width:49%;
			float:right;
			ul.tabs {
			    list-style:none;
			    padding: 0 0 0 1em;
			    margin: 0 0 1.618em;
			    overflow:hidden;
			    position: relative;

			    li {
			    	border: 1px solid darken( $secondary, 10 );
				    @include vertical_gradient( $secondary, darken( $secondary, 10 ) );
				    display: inline-block;
				    position: relative;
				    z-index: 0;
				    @include border_radius_top(4px);
				    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255,255,255,0.6);
				    margin: 0 -5px;
				    padding: 0 1em;
				    font-size: 1.4em;

				    a {
				    	display: inline-block;
				    	padding: .5em 0;
				    	font-weight:bold;
				    	color: $secondarytext;
				    	@include darkorlighttextshadow();
				    	text-decoration: none;

				    	&:hover {
				    		text-decoration:none;
				    		color: lighten( $secondarytext, 10 );
				    	}
				    }

				    &.active {
				    	background: $contentbg;
					    z-index: 2;
					    border-bottom-color: $contentbg;

					    a {
					    	color: inherit;
					    	text-shadow: inherit;
					    }

					    &:before {
					    	box-shadow: 2px 2px 0 $contentbg;
					    }

					    &:after {
					    	box-shadow: -2px 2px 0 $contentbg;
					    }
				    }
				    &:before {
				    	left: -6px;
				    	-webkit-border-bottom-right-radius: 4px;
				    	-mox-border-bottom-right-radius: 4px;
					    border-bottom-right-radius: 4px;
					    border-width: 0 1px 1px 0;
					    box-shadow: 2px 2px 0 darken( $secondary, 10 );
				    }
				    &:after {
				    	right: -6px;
				    	-webkit-border-bottom-left-radius: 4px;
				    	-mox-border-bottom-left-radius: 4px;
					    border-bottom-left-radius: 4px;
					    border-width: 0 0 1px 1px;
					    box-shadow: -2px 2px 0 darken( $secondary, 10 );
				    }
			    }
			    &:before {
			    	position:absolute;
				    content: " ";
				    width: 100%;
				    bottom: 0;
				    left: 0;
				    border-bottom: 1px solid darken( $secondary, 10 );
				    z-index: 1;
			    }
			}
			.panel {
				margin: 0 0 2em;
				padding: 0;
			}
		}

		/* Cart button */
		p.cart {
			margin-bottom: 2em;
			@include clearfix();
		}

		/* add to cart forms */
		form.cart {
			margin:1.5em 0 3em;
			@include clearfix();
			div.quantity {
				float:left;
				margin: 0 4px 0 0;
			}
			table {
				border-width: 0 0 1px 0;
				td {
					padding-left:0;
				}
				div.quantity {
					float:none;
					margin: 0;
				}
				small.stock {
					display:block;
					float:none;
				}
			}
			.variations {
				margin-bottom: 1em;
				label {
					font-weight: bold;
				}
				select {
					width: 100%;
					float:left;
					-webkit-appearance: none;
					border: none;
					border-bottom: 2px solid #FF4040;
					border-radius: 0;
					padding: 10px;
					background:url(./img/arrow-down.png) no-repeat center right 10px;
					background-color:#f5f5f5;
					&:after {
						font-family: FontAwesome;
						content:"\f078";
						font-size: 1.2em;
					}
				}
				td.label {
					padding-right: 1em;
				}
				td {
					vertical-align: top;
					font-size: 1.2em;
				}
			}
			.button {
				vertical-align: middle;
				float:left;
			}

			.group_table {
				td.label {
					padding-right: 1em;
					padding-left: 1em;
				}
				td {
					vertical-align: top;
					padding-bottom: .5em;
				}
			}
		}
	}

	/* Sale labels */
	span.onsale {
		min-height: 32px;
		min-width: 32px;
		padding: 4px;
		font-size: 12px;
		font-weight:bold;
		position:absolute;
		text-align: center;
		line-height: 32px;
		top: 6px;
		left: 6px;
		margin: 0;
		@include border_radius(20px);
		@include vertical_gradient( lighten( $highlight, 10), $highlight );
		@include text_shadow( 0, -1px, 0, $highlight );
		color: $highlightext;
		-webkit-box-shadow:
			inset 0 1px 0 rgba(255,255,255,0.3),
			inset 0 -1px 0 rgba(0,0,0,0.2),
			0 1px 2px rgba(0,0,0,0.2);
		-moz-box-shadow:
			inset 0 1px 0 rgba(255,255,255,0.3),
			inset 0 -1px 0 rgba(0,0,0,0.2),
			0 1px 2px rgba(0,0,0,0.2);
		box-shadow:
			inset 0 1px 0 rgba(255,255,255,0.3),
			inset 0 -1px 0 rgba(0,0,0,0.2),
			0 1px 2px rgba(0,0,0,0.2);
	}

	/* =Product Loops
	-------------------------------------------------------------- */

	.products ul, ul.products {
		padding: 0;
		margin:0;
		list-style:none outside;
		clear:both;
		@include clearfix();
		li {
			list-style:none outside;
		}
	}

	ul.products {
		li.group4 {
			display: table;
			width:100%;
			ul.group2 {
				margin: 0 0 1em;
				clear:none;
				&:first-child {
					width:50%;
					float:left;
				}
				&:last-child {
					width:50%;
					float:left;
				}
			}
		}
		li.product {
			float:left;
			margin: 0 !important;
			position: relative;
			width: 50% !important;
			background:#fff;
			border-right: 1px solid $lightgrey;
			border-top: 1px solid #eee;
			padding:1% 1.3% 1.5%;
			overflow:hidden;
			transition:box-shadow 0.1s, padding 0.1s, margin 0.1s, background 0.1s;
			-webkit-transition:box-shadow 0.1s, padding 0.1s, margin 0.1s;
			text-align:center;
			&:hover {
				background:#fcfcfc;
				box-shadow: 0px 0px 5px 0px #bbb;
				transition:box-shadow 0.1s, padding 0.1s, margin 0.1s, background 0.1s;
				-webkit-transition:box-shadow 0.1s, padding 0.1s, margin 0.1s;
				margin:-3px 0 3px;
				z-index:2;
				div.sku {
					color:$red;
				}
			}
			.onsale {
				top: 0;
				right: 0;
				left:auto;
				margin: -6px -6px 0 0;
			}
			h2 {
				padding: .5em 0;
				margin: 0;
				line-height:1.3;
				font-size: 1.2em;
				font-weight:400;
			}
			div.sku {
				font-weight: 700;
				font-size:1.3em;
				margin:5px 0;
			}
			a {
				text-decoration:none;
			}
			a img {
				width: 100%;
				height:auto;
				display:block;
				margin: 0 0 8px;
				box-shadow:none;
				@include transition();
			}
			a:hover img {
				box-shadow:none;
			}
			a.button {
				margin:8px 0;
				&:hover,&:focus {
					margin:8px 0 7px;
				}
			}
			strong {
				display:block;
			}
			.price {
				color: $highlight;
				display:block;
				font-weight:normal;
				margin-bottom: .5em;
				del {
					font-size: 0.67em;
					color:fade( desaturate( $highlight, 75% ), 50% );
					margin: -2px 0 0 0;
				}
				ins {
					background:none;
				}
				.from {
					font-size: 0.67em;
					margin: -2px 0 0 0;
					text-transform: uppercase;
					color:fade( desaturate( $highlight, 75% ), 50% );
				}
			}
			p {
				margin:0;
				&.wc-new-badge { /* New product badge wrapper */
					position: absolute;
					top: 40% !important;
					right: 0%;
					font: bold 15px Sans-Serif !important;
					width: auto;
					background-color: $red;
					@include border-radius(0);
					@include box-shadow(0, 0, 5px, -2px, #444);
				}
			}
		}
	}

	.woocommerce-result-count {
		margin: 0 0 1em;
	}
	.woocommerce-ordering {
		margin: 0 0 1em;
		select {
			vertical-align: top;
		}
	}
	nav.woocommerce-pagination, #content nav.woocommerce-pagination {
		text-align: center;
		font-size: 1.3em;
		ul {
			display: inline-block;
			white-space: nowrap;
			padding:0;
			clear: both;
			margin: 1px;
			border-radius:15px;
			li {
				padding: 0;
				margin: 0;
				float: left;
				display: inline;
				overflow: hidden;
				a, span {
					margin: 0;
					text-decoration: none;
					padding: 0;
					line-height: 1em;
					font-size: 1em;
					font-weight: 700;
					padding: .5em;
					min-width: 1em;
					display: block;
					background:#eee;
				}
				span.current, a:hover, a:focus {
					background: $red;
					color: #fff;
					font-weight: 700;
				}
				span.current {
					border-bottom: 2px solid $darkgrey;
					padding-bottom:5px;
				}
				& a.next {
					border-top-right-radius:15px;
					border-bottom-right-radius:15px;
					line-height: .9;
					padding-bottom:9px;
					padding-right:10px;
				}
				& a.prev {
					border-top-left-radius:15px;
					border-bottom-left-radius:15px;
					line-height: .9;
					padding-bottom:9px;
					padding-left:10px;
				}
			}
		}
	}

	/* =Quick View
	-------------------------------------------------------------- */

	.qv-btn {
		position:absolute;
		left:50%;
		top:20%;
		.quick-view-button {
			display:none !important;
			position: relative !important;
			left:-50% !important;
			padding:8px 1000px !important;
			color: #000 !important;
			border:none !important;
			border-radius:0 !important;
			-webkit-border-radius: 0 !important;
			box-shadow: inset 0 -1px 0 rgba(0,0,0,0.075),inset 0 1px 0 rgba(255,255,255,0.3),0 0 4px rgba(0,0,0,0.1) !important;
			-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.075),inset 0 1px 0 rgba(255,255,255,0.3),0 0 4px rgba(0,0,0,0.1) !important;
			text-shadow:none;
			opacity: 0.9;
			background:#fff;
			i.fa-eye {
				margin-right:8px;
				font-size: 15px;
				line-height: 0;
			}
		}
	}
	ul.products li.product:hover .quick-view-button {
		display:block !important;
		&:hover,&:focus {
			opacity:1;
			background:#fff;
		}
	}
	.pp_woocommerce_quick_view {
		.pp_content {
			margin:0 auto !important;
		}
		.quick-view {
			margin-top:0px !important;
			.quick-view-image {
				margin-bottom:0 !important;
				width:41% !important;
				img{
					margin: 0 auto !important;
					box-shadow:none !important;
					-webkit-box-shadow: none !important;
					border:none !important;
					float:none !important;
				}
			}
			.quick-view-content {
				height: auto !important;
				padding-left:1px !important;
				.cart {
					margin:15px 0 15px 0;
				}
				.quick-view-detail-button {
					margin-top: 15px;
					border-radius:15px;
					font-size: 1.4em;
					top:0px;
					width:100%;
					text-shadow: none;
					box-shadow:none;
					&:hover,&:focus {
					}
					&:active {
						top:0px;
						margin-top:15px;
					}
				}
			}
		}
		.pp_details {
			display: block !important;
			width: auto !important;
			padding-top:0 !important;
		}
	}
	div.pp_woocommerce {
		div.ppt { /* Photo preview caption fix */
			display:none !important;
		}
		p.currentTextHolder {
			font-size: 1em;
			line-height: 1;
		}
		p.pp_description {
			line-height: 1;
		}
	}


	/* =Buttons
	-------------------------------------------------------------- */

	a.button, button.button, input.button, #respond input#submit, #content input.button {
	    font-family: inherit;
	    font-weight:bold;
	    font-size:13px;
	    line-height: 1em;
	    color: $darkgrey;
	    background:#fff;
		text-decoration:none;
		display: inline-block;
	    position: relative;
		overflow: visible;
	    margin: 0;
		padding: 6px 10px;
	    top:0;
	    left: auto;
		border: 2px solid $darkgrey;
		white-space: nowrap;
	    cursor: pointer;
	    @include border_radius(15px);

		&:hover,&:focus {
			text-decoration:none;
			background:$darkgrey;
			color:#fff
		}

		&:active {
			background:#555;
		}

		&.alt {
			color:#fff;
			background: $red;
			border-color:$red;
			&:hover,&:focus {
				background:#fff;
				color:$red;
			}
			&:active {
				background:$red;
				color:#fff;
			}
		}

		&:disabled,
		&.disabled {
			color: $lightgrey !important;
			border: 2px solid $lightgrey !important;
			background: $secondary !important;
			text-shadow:none;
			top:0px !important;
			cursor: not-allowed;
		}
	}

	.cart .button, .cart input.button {
		float:none;
	}

	a.added_to_cart {
		padding: .5em 0;
		white-space: nowrap;
		display: block;
		font-size: 1.3em;
		&:hover {
			color:$red;
		}
	}

	/* =Quantity inputs
	-------------------------------------------------------------- */

	.quantity, #content .quantity {
		position: relative;
		margin: 0 auto;
		overflow:hidden;
		zoom: 1;

		input[type=number] {
		    -moz-appearance:textfield;
		}
		noindex:-o-prefocus,
		input[type=number] {
		    padding-right: 1.2em;
		}

		input.qty {
			width: 65px;
			height: 28px;
			float:left;
			padding: 0 5px 0 10px;
			text-align: center;
			border: 1px solid #bbb;
			border-bottom-color:#e5e5e5;
			@include inset_box_shadow( 0, 0, 2px, 0, $secondary );
			font-weight:bold;
			@include border_radius(15px);
			-moz-appearance: textfield; /* Hide buttons for Firefox 29 and later */
		}

		/* Hide buttons for opera */
		noindex:-o-prefocus, input[type=number] {
		    padding-right: 1.2em;
		}

		.plus, .minus {
			display:block;
			padding: 0;
			margin: 0;
			position:absolute;
			text-align: center;
			vertical-align: text-top;
			width: 20px;
			height: 15px;
			text-decoration:none;
			overflow: visible;
		    font-weight:bold;
		    cursor: pointer;
		    line-height:0;
		    font-size: 12px;
		    background:#eee;
		    @include border_radius_right(2px);
		    color: $secondarytext;
			border: 1px solid darken( $secondary, 20 );
			@include inset_box_shadow(0, -7px, 10px, -7px, #ccc);
		    &:hover,&:focus {
		    	@include inset_box_shadow(0, -7px, 10px, -7px, #999);
		    }
		    &:active {
		    	@include inset_box_shadow(0, 7px, 10px, -7px, #999);
		    }
		}

		.plus {
			top: 0;
			right: 0;
			@include border_radius_bottom(0);
		}

		.minus {
			bottom: 0;
			right: 0;
			@include border_radius_top(0);
		}
	}

	/* =Reviews/comments
	-------------------------------------------------------------- */
	#reviews {
		h2 small {
			float: right;
			color: $subtext;
			font-size: 15px;
			line-height: 21px;
			margin: 10px 0 0 0;
			a {
				text-decoration:none;
				color: $subtext;
			}
		}
		h3 {
			margin: 0;
		}
		#respond {
			margin: 0;
			border: 0;
			padding: 0;
		}
		#comment {
			height: 75px;
		}
		#comments {
			.add_review {
				@include clearfix();
			}
			h2 {
				clear:none;
			}
			ol.commentlist {
				@include clearfix();
				margin: 0;
				width: 100%;
				background:none;
				list-style: none;
				li {
					padding: 0;
					margin: 0 0 20px;
					border: 0;
					position: relative;
					background: 0;
					border: 0;
					.meta {
						color: $subtext;
						font-size: 0.75em;
					}
					img.avatar {
						float:left;
						position:absolute;
						top: 0;
						left: 0;
						padding: 3px;
						width: 32px;
						height:auto;
						background: $secondary;
						border: 1px solid darken( $secondary, 3 );
						margin: 0;
						line-height: 1;
					}
					.comment-text {
						margin: 0 0 0 50px;
						border: 1px solid darken( $secondary, 3 );
						@include border_radius(4px);
						padding: 1em 1em 0;
						p {
							margin: 0 0 1em;
						}
						p.meta {
							font-size: 0.83em;
						}
					}
				}
				ul.children {
					list-style: none outside;
					margin: 20px 0 0 50px;

					.star-rating {
						display: none;
					}
				}
				#respond {
					border: 1px solid darken( $secondary, 3 );
					@include border_radius(4px);
					padding: 1em 1em 0;
					margin: 20px 0 0 50px;
				}
			}
			.commentlist > li:before {
				content: "";
			}
		}
	}

	/* Star rating */
	.star-rating {
		float: right;
		overflow: hidden;
		position: relative;
		height: 1em;
		line-height: 1em;
		font-size: 1em;
		width: 5.4em;
		font-family: 'star';
		&:before {
			content: "\73\73\73\73\73";
			color: darken( $secondary, 10 );
			float: left;
			top: 0;
			left: 0;
			position: absolute;
		}
		span {
			overflow: hidden;
			float: left;
			top: 0;
			left: 0;
			position: absolute;
			padding-top: 1.5em;
		}
		span:before {
			content: "\53\53\53\53\53";
			top: 0;
			position: absolute;
			left: 0;
		}
	}

	.woocommerce-product-rating {
		line-height: 2em;
		display: block;

		.star-rating {
			margin: .5em 4px 0 0;
			float: left;
		}
	}

	.products {
		.star-rating {
			display: block;
			margin: 0 0 .5em;
			float: none;
		}
		.count {
			display: none;
		}
	}

	.hreview-aggregate {
		.star-rating {
			margin: 10px 0 0 0;
		}
	}

	#review_form {
		#respond {
			@include clearfix();
			position: static;
			margin: 0;
			width: auto;
			padding: 0 0 0;
			background: transparent none;
			border: 0;
			p {
				margin: 0 0 10px;
			}
			.form-submit {
				input {
					left: auto;
				}
			}
			textarea {
				-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
				-moz-box-sizing: border-box;    /* Firefox, other Gecko */
				box-sizing: border-box;         /* Opera/IE 8+ */
				width: 100%;
			}
		}
	}

	p.stars {
		position: relative;
		font-size: 1em;

		a {
			display: inline-block;
			font-weight: 700;
			margin-right: 1em;
			text-indent: -9999px;
			position: relative;

			&:last-child {
				border-right:0;
			}

			&.star-1,
			&.star-2,
			&.star-3,
			&.star-4,
			&.star-5 {
				border-right:1px solid #ccc;

				&:after {
					font-family: "WooCommerce";
					text-indent: 0;
					position: absolute;
					top: 0;
					left: 0;
					//padding-right: 1em;
				}

			}

			&.star-1 {
				width: 2em;

				&:after {
					content: "\e021";
				}

				&:hover:after,
				&.active:after {
					content: "\e020"
				}
			}

			&.star-2 {
				width: 3em;

				&:after {
					content: "\e021\e021";
				}

				&:hover:after,
				&.active:after {
					content: "\e020\e020"
				}
			}

			&.star-3 {
				width: 4em;

				&:after {
					content: "\e021\e021\e021";
				}

				&:hover:after,
				&.active:after {
					content: "\e020\e020\e020"
				}
			}

			&.star-4 {
				width: 5em;

				&:after {
					content: "\e021\e021\e021\e021";
				}

				&:hover:after,
				&.active:after {
					content: "\e020\e020\e020\e020"
				}
			}

			&.star-5 {
				width: 6em;
				border: 0;

				&:after {
					content: "\e021\e021\e021\e021\e021";
				}

				&:hover:after,
				&.active:after {
					content: "\e020\e020\e020\e020\e020"
				}
			}
		}
	}

	/* =Tables
	-------------------------------------------------------------- */

	table.shop_attributes {
		border: 0;
		border-top: 1px dotted rgba(0,0,0,0.1);
		margin-bottom: 1.618em;
		width: 100%;
		th {
			width: 130px;
			font-weight:bold;
			font-size:1.2em;
			padding: 5px 6px 5px 0;
			border-top: 0;
			border-bottom: 1px dotted rgba(0,0,0,0.1);
			margin: 0;
			line-height: 1.2em;
			text-align: right;
		}
		td {
			font-style: italic;
			padding: 0;
			border-top: 0;
			border-bottom: 1px dotted rgba(0,0,0,0.1);
			margin: 0;
			line-height: 1.5em;
			p {
				margin: 8px 0;
				padding: 0 0 0 6px;
				font-size: 1.1em;
				border-left:1px dotted #aaa;
			}
		}
		.alt td, .alt th {
			background: rgba(0,0,0,0.025);
		}
	}

	table.shop_table {
		border: 1px solid rgba(0,0,0,0.1);
		margin: 0px -1px 24px 0px;
		text-align:left;
		width: 100%;
		border-collapse: separate;
		font-size: 13px;
		background:#fff;
		@include border_radius(5px);
		th {
			font-weight:bold;
			line-height: 18px;
			padding: 9px 12px;
		}
		td {
			border-top: 1px solid rgba(0,0,0,0.1);
			padding: 6px 12px;
			vertical-align: middle;
			small {
				font-weight: normal;
			}
		}
		tfoot td, tfoot th {
			font-weight:bold;
			border-top: 1px solid rgba(0,0,0,0.1);
		}
		th.product-total,td.product-total {
			text-align: left;
		}
		td.actions {
			text-align: right;
		}
		td.product-thumbnail {
			width: 70px;
		}
		tr {
			&:nth-child(2n) {
				background: #f5f5f5;
			}
		}
	}

	table.my_account_orders {
		font-size: 0.85em;
		th, td {
			padding: 4px 8px;
			vertical-align: middle;
		}
		.button {
			white-space:nowrap;
		}
		.order-actions {
			text-align: right;
			.button {
				margin: .125em 0 .125em .25em;
			}
		}
	}

	td.product-name {
		dl.variation {
			margin: .25em 0;
			@include clearfix();

			dt, dd {
				display: inline-block;
				float: left;
				margin-bottom:1em;
			}
			dt {
				font-weight:bold;
				padding: 0 0 .25em 0;
				margin: 0 4px 0 0;
				clear:left;
			}
			dd {
				padding: 0;
				margin: 0;
				p {
					font-size: 13px !important;
					margin:1px 0 0;
				}
				p:last-child {
					margin-bottom:0;
				}
			}
		}
		p.backorder_notification {
			font-size: 0.83em;
		}
	}

	td.product-quantity {
		min-width: 80px;
		input[type="text"], input[type="password"], input[type="email"], input[type="www"], input[type="tel"], input[type="number"], textarea {
			font-size: 1em;
		}
	}

	/* =Cart
	-------------------------------------------------------------- */

	table.cart, #content table.cart {
		.product-thumbnail {
			min-width: 32px;
		}
		img {
			width: 32px;
		}
		th, td {
			vertical-align: middle;
		}
		a.remove {
			display:block;
			font-size:1.4em;
			height:1em;
			width:1em;
			text-align: center;
			line-height: 0.8;
			color: $red;
			text-decoration: none;
			@include border_radius(100%);
		}
		a.remove:hover {
			background:$red;
			color:#fff;
		}
		td.actions {
			.coupon {
				.input-text {
					float:left;
					-webkit-box-sizing:border-box;
					-moz-box-sizing:border-box;
					box-sizing:border-box;

					@include inset_box_shadow(0, 1px, 4px, 0, rgba(0,0,0,0.1));

					border: 1px solid darken( $secondary, 10 );
					padding: 6px 6px 5px;
					margin: 0 4px 0 0;
					outline: 0;
					line-height: 1em;
				}
			}
		}
		input {
			margin: 0;
			vertical-align: middle;
			line-height: 1em;
		}
	}


	/* =Cart Sidebar
	-------------------------------------------------------------- */

	ul.cart_list, ul.product_list_widget {
		list-style:none outside;
		padding: 0;
		margin: 0;
		li {
			padding: 4px 0;
			margin: 0;
			@include clearfix;
			list-style:none;
			a {
				display:block;
				font-weight:bold;
			}
			img {
				float: right;
				margin-left: 4px;
				width: 32px;
				height:auto;
				@include box_shadow(0,1px,2px,0,rgba(0,0,0,0.3));
			}
			dl {
				margin: 0;
				font-size: 0.8751em;
				padding-left: 1em;
				border-left: 2px solid rgba(0,0,0,0.1);
				@include clearfix;

				dt, dd {
					display: inline-block;
					float: left;
					margin-botom:1em;
				}
				dt {
					font-weight:bold;
					padding: 0 0 .25em 0;
					margin: 0 4px 0 0;
					clear:left;
				}
				dd {
					padding: 0 0 .25em 0;
					p:last-child {
						margin-bottom:0;
					}
				}
			}
			.star-rating {
				float:none;
			}
		}
	}

	&.widget_shopping_cart, .widget_shopping_cart {
		.total {
			border-top: 3px double $secondary;
			padding: 4px 0 0;
			strong {
				min-width: 40px;
				display: inline-block;
			}
		}
		.buttons {
			@include clearfix;
		}
	}


	/* =Cart Page
	-------------------------------------------------------------- */

	.cart-collaterals {
		.shipping_calculator {
			.button {
				width: 100%;
				float:none;
				display:block;
			}
			.shipping-calculator-button {
				&:after {
					@include iconafter( "\e02e" );
				}
			}
		}
		.cart_totals {
			p {
				margin: 0;
				small {
					color: $subtext;
					font-size: 0.83em;
				}
			}
			table {
				border-collapse: separate;
				@include border_radius(5px);
				margin: 0 0 6px;
				padding: 0;
				tr:first-child {
					th, td {
						border-top: 0;
					}
				}
				th {
					padding: 6px 12px 0 0;
					width: 25%;
				}
				td {
					padding: 6px 0;
				}
				td, th {
					vertical-align: top;
				}
				small {
					display:block;
					color: $subtext;
				}
				select {
					width: 100%;
				}
			}
			.discount td {
				color: $highlight;
			}
			tr td, tr th {
				border-top: 1px solid $secondary;
			}
			a.button.alt {
				display: inline-block;
			}
		}
		.cross-sells {
			ul.products {
				li.product {
					margin-top: 0;
				}
			}
		}
	}

	/* =Forms
	-------------------------------------------------------------- */

	form {
		.form-row {
			padding: 3px;
			margin: 0 0 6px;

			[placeholder]:focus::-webkit-input-placeholder {
				-webkit-transition: opacity 0.5s 0.5s ease;
				-moz-transition: opacity 0.5s 0.5s ease;
				transition: opacity 0.5s 0.5s ease;
				opacity: 0;
			}
			label {
				line-height: 2em;
			}
			label.hidden {
				visibility:hidden;
			}
			label.inline {
				display: inline;
			}
			select {
				cursor: pointer;
				margin: 0;
			}
			.required {
				color: $red;
				font-weight:bold;
				border: 0;
			}
			.input-checkbox {
				display: inline;
				margin: -2px 8px 0 0;
				text-align: center;
				vertical-align: middle;
			}
			input.input-text, textarea {
				@include borderbox;
				width: 100%;
				margin: 0;
				outline: 0;
				line-height: 1em;
			}
			textarea {
				height: 4em;
				line-height: 1.5em;
				display:block;
				-moz-box-shadow:none;
				-webkit-box-shadow:none;
				box-shadow:none;
				&#order_comments {
					max-width:100%;
				}
			}
			&.validate-required.woocommerce-invalid {
				.chosen-single, .chosen-drop, input.input-text, select {
					border-color: #fb7f88;
				}
			}
			::-webkit-input-placeholder {
				line-height: normal;
			}
			:-moz-placeholder {
				line-height: normal;
			}
			:-ms-input-placeholder {
				line-height: normal;
			}
			&.form-row-first,&.form-row-last {
				float:left;
				width: 48%;
				overflow: visible;
			}
			&.form-row-last {
				float: right;
			}
			&.form-row-wide {
				clear: both;
			}
		}
	}

	form.login, form.checkout_coupon, form.register {
		border: 1px solid darken( $secondary, 10 );
		padding: 20px;
		margin: 2em 0 2em 0px;
		text-align:left;
		@include border_radius(5px);
	}

	ul#shipping_method {
		list-style: none outside;
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: .25em 0 .25em 22px;
			text-indent: -22px;
			list-style: none outside;
		}
		.amount {
			font-weight: bold;
		}
	}

	/* =Checkout
	-------------------------------------------------------------- */

	.checkout {
		padding:.5% 3% 0;
		background:#eee;
		border-radius:5px;
		.col-1 {
			width:48%;
			float:left;
			margin:0 4% 0 0;
		}
		.col-2 {
			width:48%;
			float:left;
			h3#ship-to-different-address {
				float:left;
				clear:none;
			}

			.notes {
				clear:left;
			}

			.form-row-first {
				clear:left;
			}
		}
		.place-order {
			text-align: right;
			#place_order {
				&:after {
					content:"\f1d8";
					font-family: FontAwesome;
                    margin-left: 6px;
				}
			}
		}
		.create-account small {
			font-size: 11px;
			color: $subtext;
			line-height: 13px;
			font-weight:normal;
		}
		div.shipping-address {
			padding: 0;
			clear:left;
			width: 100%;
		}
		.shipping_address {
			clear:both;
		}
		h2#order_review_heading {
			clear:both;
			padding-top:40px;
		}
		input[type="text"], input[type="password"], input[type="email"], input[type="www"], input[type="tel"], input[type="number"], textarea {
			font-size: 0.9em;
			border:1px solid $lightgrey;
			height:32px;
			padding:8px 9px;
		}
		label {
			font-weight: 700;
		}
		td.product-thumbnail {
			width:70px;
		}
		td.product-total {
			text-align: left;
		}
	}

	/* Payment box - appears on checkout and page page */
	#payment {
		@include border_radius(5px);
        background:none;

		ul.payment_methods {
			display: none;
			@include clearfix;
			text-align:left;
			padding: 1em;
			border-bottom: 1px solid darken( $secondary, 10 );
			margin: 0;
			list-style:none outside;
			li {
				line-height: 2em;
				text-align:left;
				margin: 0;
				font-weight:normal;
				input {
					margin: 0 1em 0 0;
				}
				img {
					vertical-align: middle;
					margin: -2px 0 0 .5em;
					position: relative;
				}
			}
		}

		div.form-row {
			padding: 1.5em 1em;
			border-top: 1px solid $lightgrey;
		}
		div.payment_box {
			position: relative;
			width: 96%;
			padding: 1em 2%;
			margin: 1em 0 1em 0;
			font-size: 0.92em;
			@include border_radius(2px);
			line-height: 1.5em;
			@include vertical_gradient( darken( $secondary, 5 ), darken( $secondary, 10 ) );
			@include box_shadow(0,1px,2px,0,rgba(0,0,0,0.25));
			color: $secondarytext;
			@include darkorlighttextshadow();
			input.input-text, textarea {
				border-color: darken( $secondary, 15 );
				border-top-color: darken( $secondary, 20 );
				@include box_shadow( 0, 1px, 0, 0, rgba( 255,255,255,0.4 ) );
			}
			::-webkit-input-placeholder {
				color: darken( $secondary, 20 );
			}
			:-moz-placeholder {
				color: darken( $secondary, 20 );
			}
			:-ms-input-placeholder {
				color: darken( $secondary, 20 );
			}
			.wc-credit-card-form-card-number,
			.wc-credit-card-form-card-expiry,
			.wc-credit-card-form-card-cvc {
				font-size: 1.5em;
				padding: 8px;
				background-repeat: no-repeat;
				background-position: right;

				&.visa {
					background-image: url(../images/icons/credit-cards/visa.png);
				}
				&.mastercard {
					background-image: url(../images/icons/credit-cards/mastercard.png);
				}
				&.laser {
					background-image: url(../images/icons/credit-cards/laser.png);
				}
				&.dinersclub {
					background-image: url(../images/icons/credit-cards/diners.png);
				}
				&.maestro {
					background-image: url(../images/icons/credit-cards/maestro.png);
				}
				&.jcb {
					background-image: url(../images/icons/credit-cards/jcb.png);
				}
				&.amex {
					background-image: url(../images/icons/credit-cards/amex.png);
				}
				&.discover {
					background-image: url(../images/icons/credit-cards/discover.png);
				}
			}
			span.help {
				font-size: 11px;
				color: $subtext;
				line-height: 13px;
				font-weight:normal;
			}
			.form-row {
				margin: 0 0 1em;
			}
			p:last-child {
				margin-bottom: 0;
			}
			&:after {
				content: "";
				display:block;
				border: 8px solid darken( $secondary, 5 ); /* arrow size / color */
				border-right-color: transparent;
				border-left-color: transparent;
				border-top-color: transparent;
				position:absolute;
				top: -3px;
				left: 0;
				margin: -1em 0 0 2em;
			}
		}
	}

	/* =Order Page
	-------------------------------------------------------------- */

	.thankyou {
		background:#eee;
		padding:3px 3%;
		border-radius:5px;
        
        dl {
            display: none;
            
            &.customer_details {
                display: block;
                
                dl {
                    display: block;
                }
            }
        }
	}
	.order_details {
		@include clearfix();
		margin: 1.5em -3.2%;
		list-style:none;
		font-size: 1.3em;
		padding-left:0px;
		li {
			float:left;
			margin-right: 2em;
			text-transform: uppercase;
			font-size: 0.715em;
			line-height: 1em;
			border-right: 1px dashed darken( $secondary, 10 );
			padding-right: 2em;

			strong {
				display:block;
				font-size: 1.4em;
				text-transform:none;
				line-height: 1.5em;
			}

			&:last-of-type {
				border: none;
				padding-right:0;
				margin-right:0;
			}
		}
	}
	ul.order_details {
		margin:1.5em -3.2%;
		padding:15px 3.2%;
		width:40%;
		float:right;
		background:#fff;
		border-bottom:2px solid $red;
	}
	dl.customer_details {
		font-size: 1.3em;
        dl {
            dt{
                float:left;
                font-weight:bold;
            }
            dd {
                margin-left:110px;
            }
        }
	}

	/* =Account Page
	-------------------------------------------------------------- */

	.addresses {
		.title {
			@include clearfix();

			h3 {
				float:left;
			}
			.edit {
				float: right;
			}
		}
	}

	ol.commentlist.notes {
		li.note {

			p.meta {
				font-weight:bold;
				margin-bottom: 0;
			}
			.description {
				p:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	ul.digital-downloads {
		margin-left: 0;
		padding-left: 0;
		li {
			list-style:none;
			margin-left: 0;
			padding-left: 0;
			&:before {
				@include iconbefore( "\e00a" );
			}
			.count {
				float: right;
			}
		}
	}

	/* =Layered Nav Widget
	-------------------------------------------------------------- */

	.widget_layered_nav {
		ul {
			margin: 0;
			padding: 0;
			border: 0;
			list-style:none outside;
			li {
				@include clearfix();
				padding: 0 0 1px;
				list-style:none;
				a, span {
					padding: 1px 0;
					float:left;
				}
			}
			li.chosen {
				a {
					padding:0 6px;
					text-decoration: none;
					border: 1px solid $tertiary;
					background: $tertiary;
					@include inset_box_shadow(0, 1px, 1px, rgba(255,255,255,0.5));
					color: $tertiarytext;
					@include border_radius(3px);
					&:before {
						@include iconbefore( "\e013" );
					}
				}
			}
			small.count {
				float: right;
				margin-left: 6px;
				font-size: 1em;
				padding: 1px 0;
				color: $subtext;
			}
		}
	}

	.widget_layered_nav_filters {
		ul {
			margin: 0;
			padding: 0;
			border: 0;
			list-style:none outside;
			overflow: hidden;
			zoom: 1;
			li {
				float: left;
				padding: 0 1px 1px 0;
				list-style:none;
				a {
					padding:0 6px;
					text-decoration: none;
					border: 1px solid $tertiary;
					background: $tertiary;
					@include inset_box_shadow(0, 1px, 1px, rgba(255,255,255,0.5));
					color: $tertiarytext;
					@include border_radius(3px);
					float: left;
					&:before {
						@include iconbefore( "\e013" );
					}
				}
			}
		}
	}

	/* =Price Filter Widget
	-------------------------------------------------------------- */

	.widget_price_filter {
		font-size: 1.3em;
		.price_slider {
			margin-bottom: 1.2em;
		}
		.price_slider_amount {
			text-align: right;
			line-height: 2.4em;
			font-size: 0.8751em;
			.button {
				font-size: 1.15em;
			}
			.button {
				float:left;
			}
		}
	   .ui-slider {
			position: relative;
			text-align:left;
		}
	   .ui-slider .ui-slider-handle {
			position:absolute;
			z-index: 2;
			width: 1.2em;
			height: 1.2em;
			@include border_radius(1em);
			border-bottom-right-radius:0;
			border: 1px solid darken( $tertiary, 50 );
			cursor: pointer;
			@include vertical_gradient( darken( $tertiary, 10 ), $tertiary );
			outline:none;
			top: -.4em;
			-webkit-box-shadow:
				0 1px 2px rgba(0,0,0,0.3),
				inset 0 0 0 1px rgba(255,255,255,0.65);
			-moz-box-shadow:
				0 1px 2px rgba(0,0,0,0.3),
				inset 0 0 0 1px rgba(255,255,255,0.65);
			box-shadow:
				0 1px 2px rgba(0,0,0,0.3),
				inset 0 0 0 1px rgba(255,255,255,0.65);
			@include transform(rotate(45deg));

			&:last-child {
				margin-left: -0.8em;
			}
		}
	   .ui-slider .ui-slider-range {
			position:absolute;
			z-index: 1;
			font-size: .7em;
			display:block;
			border: 0;
			background: $tertiary url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAFUlEQVQIHWP4//9/PRMDA8NzEPEMADLLBU76a5idAAAAAElFTkSuQmCC) top repeat-x; /* transparent png */
			@include inset_box_shadow(0,0,0,1px,rgba(0,0,0,0.5));
			@include border_radius(1em);
		}
	   .price_slider_wrapper .ui-widget-content {
			@include border_radius(1em);
			@include vertical_gradient( $quaternary, lighten( $quaternary, 30 ) );
		}
	   .ui-slider-horizontal {
			height: .6em;
		}
	   .ui-slider-horizontal .ui-slider-range {
			top: 0;
			height: 100%;
		}
	   .ui-slider-horizontal .ui-slider-range-min {
			left: -1px;
		}

	   .ui-slider-horizontal .ui-slider-range-max {
			right: -1px;
		}
	}
} // end .woocommerce-page namespacing wrap


/* =Twenty Thirteen Specific styles
-------------------------------------------------------------- */
.single-product {
	.twentythirteen {
		.entry-summary,
		#reply-title,
		#respond #commentform {
			padding: 0;
		}

		p.stars {
			clear: both;
		}
	}
}

.twentythirteen {
	.woocommerce-breadcrumb {
		padding-top: 40px;
	}
}

/* =Twenty Fourteen Specific styles
-------------------------------------------------------------- */
.twentyfourteen {
	ul.products {
		li.product {
			margin-top: 0 !important;
		}
	}
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	.woocommerce, .woocommerce-page {
		a.button, button.button, input.button, #respond input#submit, #content input.button {
			&.loading {
				&:before {
					background-image: url(../images/ajax-loader@2x.gif);
					background-size: 16px 16px;
				}
			}
		}
	}
}

@media only screen and (min-width:768px) {
	.woocommerce,.woocommerce-page {
		.pp_woocommerce_quick_view {
			.quick-view {
				.quick-view-image {
					width: 100% !important;
				}
				.quick-view-content {
					width:100% !important;
				}
			}
		}
	}
}
@media only screen and (min-width:1024px) {
	.woocommerce,.woocommerce-page {
		.pp_woocommerce_quick_view {
			.quick-view {
				.quick-view-image {
					width: 41% !important;
				}
				.quick-view-content {
					width:56% !important;
				}
			}
		}
	}
}