
$primary:       #ff0000;
$primarytext:   desaturate(lighten($primary,50%),18%);

$secondary:     #f7f6f7;
$secondarytext: desaturate(darken($secondary,60%),18%);

$highlight:     #85ad74;
$highlightext:  desaturate(lighten($highlight,60%),18%);

$contentbg:     #ffffff;

$subtext:       #777777;
            